Repository onetimesecret/onetimesecret: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint-fast, typescript-check-full

.pre-commit-config.yaml:

##
# Pre-Commit Configuration
#
# Initial setup:
#
#   0. Install the pre-commit framework (if it isn't already on your system):
#
#         $ pip install pre-commit
#
#   1. Install the git hook:
#
#         $ pre-commit install
#
#
# Other commands:
#
#   Run it on all the files in this repo:
#     $ pre-commit run --all-files
#
#   Updating plugin repositories:
#     $ pre-commit autoupdate
#
#   Automatically enable pre-commit on repositories
#     $ git config --global init.templateDir ~/.git-template
#     $ pre-commit init-templatedir ~/.git-template
#
# See also:
#   - https://pre-commit.com for more information
#   - https://pre-commit.com/hooks.html for more hooks
#

default_install_hook_types:
  - pre-commit
  - prepare-commit-msg
  - post-commit
  - post-checkout
  - post-merge

default_stages: [pre-commit]

fail_fast: true

# Skip generated/dependency directories
exclude: '^(vendor|node_modules|dist|build)/'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Fast, essential checks only
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files
        args: ["--maxkb=2500"]
      - id: no-commit-to-branch
        args: ["--branch", "develop", "--branch", "rel/.*"]

  # Originally based on Rubocop's own pre-commit configuration
  # https://github.com/rubocop/rubocop/blob/d5d8828/.pre-commit-hooks.yaml
  # NOTE: Don't enable '--autocorrect' until codebase is clean
  # Use Rubocop local hooks for better performance
  # Fast local Rubocop checks (basic syntax)
  - repo: local
    hooks:
      - id: local-rubocop-fast
        stages: [pre-commit]
        name: Quick Rubocop
        entry: bundle exec rubocop --force-exclusion --config .rubocop.yml --format json --fail-level error --only Syntax,Layout --no-server
        language: system
        types: [ruby]
        files: \.(rb|rake)$
        pass_filenames: true

  - repo: https://github.com/avilaton/add-msg-issue-prefix-hook
    rev: v0.0.11
    hooks:
      - id: add-msg-issue-prefix
        stages: [prepare-commit-msg]
        args:
          - "--default=[UNTRACKED]"
          - "--pattern=[a-zA-Z0-9]{0,10}-?[0-9]{1,5}"
          - "--template=[#{}]"

  # Quick local ESLint checks (syntax only)
  - repo: local
    hooks:
      - id: local-eslint-fast
        stages: [pre-commit]
        name: Quick ESLint
        entry: node_modules/.bin/eslint --quiet --flag unstable_ts_config
        language: system
        pass_filenames: true
        files: (^src/.*\.(mjs|ts|vue)$|^.*\.(mjs|ts|vue)$)

  # Quick TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check-full
        stages: [push]
        name: TypeScript Type Check
        entry: pnpm run type-check
        language: system
        pass_filenames: true
        types: [file]
        files: ^src/.*\.(ts|tsx|vue)$

  - repo: local
    hooks:
      - id: register-build
        stages: [post-commit, post-checkout, post-merge]
        name: Record commit hash
        entry: "sh -c 'git rev-parse --short HEAD > .commit_hash.txt; echo Commit hash recorded; head -4 .commit_hash.txt package.json'"
        language: system
        always_run: true
        pass_filenames: false

[#925] Improves auth store init & error handling
  src/plugins/axios/interceptors.ts
  src/stores/authStore.ts
  tests/unit/vue/stores/authStore.spec.ts
Due: local-eslint-fast, typescript-check-full

[#925] Fixed up error test cases
  tests/unit/vue/stores/authStore.spec.ts
Due: local-eslint-fast

[#925] Cleanup language store
  src/main.ts
  src/stores/languageStore.ts
  tests/unit/vue/stores/languageStore.spec.ts
Due: local-eslint-fast, typescript-check-full

[#925] Update language store to Setup API
  src/stores/languageStore.ts
  tests/unit/vue/stores/languageStore.spec.ts
Due: local-eslint-fast, typescript-check-full

[#925] Adds reset functionality to CSRF store
  src/stores/csrfStore.ts
Due: local-eslint-fast, typescript-check-full

[#925] Makes auth store API parameter optional
  src/stores/authStore.ts
Due: local-eslint-fast, typescript-check-full

[#925] Update window store initialization
  src/stores/windowStore.ts
Due: local-eslint-fast, typescript-check-full

[#925] Add Pinia store development guide
  src/stores/README.md
Due: none

[#925] Configures TypeScript for enhanced type safety
  tsconfig.json
Due: none

[#925] Revise locale initialization logic
  src/stores/languageStore.ts
  tests/unit/vue/stores/languageStore.spec.ts
Due: local-eslint-fast, typescript-check-full

[#925] Robustify axios error interceptor
  src/plugins/axios/interceptors.ts
Due: local-eslint-fast, typescript-check-full

[#925] Remove completed plan notes
  875-plan.md
Due: none

[#925] Expand language store mocked network tests
  tests/unit/vue/stores/languageStore.spec.ts
Due: local-eslint-fast

[#925] Remove unused type declaration
  tsconfig.json
Due: none

[#925] Remove error property
  src/stores/csrfStore.ts
Due: local-eslint-fast, typescript-check-full

[#925] Update to use error handler
  src/stores/csrfStore.ts
Due: local-eslint-fast, typescript-check-full

[#925] Fix api import issue
  src/stores/windowStore.ts
  src/utils/api.ts
Due: local-eslint-fast, typescript-check-full

[#925] Update path config for vitest
  tests/integration/web/README.md
  vitest.config.ts
Due: local-eslint-fast

[#925] Convert CSRF store to Setup Store
  src/stores/csrfStore.ts
  src/stores/languageStore.ts
  tests/unit/vue/stores/authStore.spec.ts
Due: local-eslint-fast, typescript-check-full

[#925] Clear entire pinia state on logout
  src/plugins/pinia/logoutPlugin.ts
Due: local-eslint-fast, typescript-check-full

[#925] Updating CSRF store tests to use axios mock
  tests/unit/vue/stores/csrfStore.spec.ts
Due: local-eslint-fast

[#925] Adds a new option: onError handler
  src/composables/useErrorHandler.ts
Due: local-eslint-fast, typescript-check-full

[#925] Shrimp is not optional
  src/schemas/api/responses.ts
Due: local-eslint-fast, typescript-check-full

[#925] Delay catching shrimp until init
  src/stores/csrfStore.ts
Due: local-eslint-fast, typescript-check-full

[#925] Use new onError handler to invalidate shrimp
  src/stores/csrfStore.ts
Due: local-eslint-fast, typescript-check-full

[#925] Set shrimp back to window state on $reset
  src/stores/csrfStore.ts
Due: local-eslint-fast, typescript-check-full

[#925] Fix shrimp valid flag
  src/stores/csrfStore.ts
Due: local-eslint-fast, typescript-check-full

[#925] Review and extend CSRF test suite
  tests/unit/vue/stores/csrfStore.spec.ts
Due: local-eslint-fast

[#925] Address circular import with utils/api
  src/stores/csrfStore.ts
  src/utils/index.ts
  tests/unit/vue/stores/authStore.spec.ts
  tests/unit/vue/stores/csrfStore.spec.ts
Due: local-eslint-fast, typescript-check-full

[#925] Convert auth store to Setup Store
  src/stores/authStore.ts
  tests/unit/vue/stores/authStore.spec.ts
Due: local-eslint-fast, typescript-check-full

[#925] Convert metadata stores to Setup Store
  src/stores/metadataListStore.ts
  src/stores/metadataStore.ts
  tests/unit/vue/stores/metadataStore.spec.ts
Due: local-eslint-fast, typescript-check-full

[#925] Add domains store test coverage
  src/stores/domainsStore.ts
  tests/unit/vue/stores/domainsStore.spec.ts
Due: local-eslint-fast, typescript-check-full

[#925] Update domain/branding fixtures
  tests/unit/vue/fixtures/domainBranding.ts
  tests/unit/vue/fixtures/domains.ts
Due: local-eslint-fast

[#925] Convert domains store to Setup Store
  src/stores/domainsStore.ts
Due: local-eslint-fast, typescript-check-full

[#925] Convert ColonelData store to Setup Store
  src/stores/colonelStore.ts
Due: local-eslint-fast, typescript-check-full

[#925] Updates domain fixtures to use 'identifier'
  tests/unit/vue/fixtures/domains.ts
Due: local-eslint-fast

[#925] Fix ColonelData response within a response schema
  src/schemas/api/endpoints/colonel.ts
  src/schemas/api/endpoints/conceal.ts
  src/schemas/api/responses.ts
Due: local-eslint-fast, typescript-check-full

[#925] Add initialized flag to metadata store
  src/stores/metadataStore.ts
Due: local-eslint-fast, typescript-check-full

[#925] Replace vi mock with axios mock adapter
  tests/unit/vue/stores/secretsStore.spec.ts
Due: local-eslint-fast

[#925] Convert secret store to Setup Store
  src/components/secrets/branded/SecretConfirmationForm.vue
  src/composables/useSecret.ts
  src/stores/secretsStore.ts
  tests/unit/vue/router/secret.routes.spec.ts
Due: local-eslint-fast, typescript-check-full
