Repository onetimesecret/onetimesecret: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint-fast, typescript-check-full

local-eslint-fast:
  stages:
  - pre-commit
  name: Quick ESLint
  entry: node_modules/.bin/eslint --quiet --flag unstable_ts_config
  language: system
  pass_filenames: true

typescript-check-full:
  stages:
  - push
  name: TypeScript Type Check
  entry: pnpm run type-check
  language: system
  pass_filenames: true

[#925] Remove outdated resolver tests
  tests/unit/vue/router/resolvers/secretRevolver.spec.ts
Due: local-eslint-fast

[#925] Correction to behaviour for ttlToNaturalLanguage
  src/schemas/transforms.ts
  src/utils/format/index.ts
Due: local-eslint-fast, typescript-check-full

[#925] Fix issue with secret lifespan processing
  src/schemas/models/secret.ts
Due: local-eslint-fast, typescript-check-full

[#925] Fix up secret store test suite
  src/stores/secretsStore.ts
  tests/unit/vue/fixtures/metadata.ts
  tests/unit/vue/stores/secretsStore.spec.ts
Due: local-eslint-fast, typescript-check-full

[#925] Expand secret store test cases
  tests/unit/vue/fixtures/metadata.ts
  tests/unit/vue/stores/secrets/secretsStoreFieldHandling.spec.ts
  tests/unit/vue/utils/format/index.spec.ts
Due: local-eslint-fast

[#925] Reduce logging during tests
  src/plugins/axios/interceptors.ts
  tests/unit/vue/stores/authStore.spec.ts
  tests/unit/vue/stores/domainsStore.spec.ts
  tests/unit/vue/stores/metadataStoreDateHandling.spec.ts
Due: local-eslint-fast, typescript-check-full

[#925] Standardize store $reset impls
  src/stores/README.md
  src/stores/brandingStore.ts
  src/stores/colonelStore.ts
  src/stores/csrfStore.ts
  src/stores/customerStore.ts
  src/stores/domainsStore.ts
  src/stores/jurisdictionStore.ts
  src/stores/languageStore.ts
  src/stores/metadataListStore.ts
  src/stores/metadataStore.ts
  src/stores/notificationsStore.ts
  src/stores/secretsStore.ts
  src/stores/windowStore.ts
Due: local-eslint-fast, typescript-check-full

[#925] Add test suite for jurisdiction store
  src/main.ts
  src/stores/authStore.ts
  src/stores/jurisdictionStore.ts
  tests/unit/vue/stores/jurisdictionStore.spec.ts
Due: local-eslint-fast, typescript-check-full

[#925] Convert jurisdiction store to Setup Store
  src/stores/jurisdictionStore.ts
  tests/unit/vue/stores/jurisdictionStore.spec.ts
Due: local-eslint-fast, typescript-check-full

[#925] Add test for refreshRecord(force)
  src/plugins/core/errorHandler.ts
  src/stores/metadataListStore.ts
  tests/unit/vue/stores/metadataListStore.spec.ts
Due: local-eslint-fast, typescript-check-full

[#925] Update domain manager to use error handler
  src/composables/useDomainsManager.ts
  src/composables/useErrorHandler.ts
  tests/unit/vue/composables/useDomainsManager.spec.ts
  tests/unit/vue/stores/windowStore.spec.ts
  tests/unit/vue/types.d.ts
Due: local-eslint-fast, typescript-check-full

[#925] Update error handling in domain management
  src/composables/useDomainsManager.ts
  src/composables/useErrorHandler.ts
  tests/unit/vue/composables/useDomainsManager.spec.ts
  tests/unit/vue/types.d.ts
Due: local-eslint-fast, typescript-check-full

[#925] Add unit tests for useMetadata composable
  tests/unit/vue/composables/useMetadata.spec.ts
Due: local-eslint-fast

[#925] Simplify useWindowProp composable
  src/composables/useWindowProps.ts
Due: local-eslint-fast, typescript-check-full

[#925] Delay window store access until needed
  src/router/public.routes.ts
Due: local-eslint-fast, typescript-check-full

[#925] Convert notification store to Setup Store
  src/stores/notificationsStore.ts
Due: local-eslint-fast, typescript-check-full

[#925] Fix for language selection at start time
  src/main.ts
Due: local-eslint-fast, typescript-check-full

[#934] Add init plugin
  src/main.ts
  src/plugins/pinia/initPlugin.ts
  src/types/declarations/pinia.d.ts
Due: local-eslint-fast, typescript-check-full

[#934] Separate Pinia plugins into modules
  src/plugins/pinia/apiPlugin.ts
  src/plugins/pinia/errorHandlingPlugin.ts
  src/plugins/pinia/index.ts
  src/plugins/pinia/initPlugin.ts
  src/plugins/pinia/logoutPlugin.ts
  src/plugins/pinia/types.ts
Due: local-eslint-fast, typescript-check-full

[#934] Use central ErrorHandlerOptions
  src/composables/useErrorHandler.ts
  src/plugins/core/errorHandler.ts
  src/stores/languageStore.ts
Due: local-eslint-fast, typescript-check-full

[#934] Clean up metadata composable
  src/composables/useMetadata.ts
Due: local-eslint-fast, typescript-check-full

[#934] Harden app initialization with precise ordering
  src/main.ts
Due: local-eslint-fast, typescript-check-full

[#934] Add rabbit hole warning to vite.config.ts
  tsconfig.json
  vite.config.ts
Due: local-eslint-fast

[#934] Document store initialization pattern
  src/stores/README.md
Due: none

[#934] Clean up initialization path
  src/components/secrets/form/SecretFormPrivacyOptions.vue
  src/plugins/core/errorHandler.ts
  src/router/guards.routes.ts
  src/router/public.routes.ts
  src/services/logging.ts
  src/stores/authStore.ts
  src/stores/windowStore.ts
  src/types/declarations/global.d.ts
  src/utils/debug.ts
Due: local-eslint-fast, typescript-check-full

[#934] Introduce WindowService
  src/App.vue
  src/layouts/QuietLayout.vue
  src/main.ts
  src/services/README.md
  src/services/window.ts
  src/stores/authStore.ts
Due: local-eslint-fast, typescript-check-full

[#934] Document layout structure
  src/router/README.md
Due: none

[#934] Rename a few files for consistency
  eslint.config.ts
  src/utils/color-utils.ts
  tests/unit/vue/fixtures/domainBranding.fixture.ts
  tests/unit/vue/fixtures/domains.fixture.ts
  tests/unit/vue/fixtures/metadata.fixture.spec.ts
  tests/unit/vue/fixtures/metadata.fixture.ts
  tests/unit/vue/fixtures/window.fixture.ts
  tests/unit/vue/fixtures/window.ts
  tests/unit/vue/utils/color-utils.spec.ts
  tsconfig.json
Due: local-eslint-fast, typescript-check-full

[#934] Add file naming style guide
  src/README.md
Due: none

[#934] Update references to renamed files
  src/plugins/pinia/logoutPlugin.ts
  src/services/window.ts
  src/utils/index.ts
  src/views/account/AccountDomainBrand.vue
  tests/unit/vue/composables/useDomainBranding.spec.ts
  tests/unit/vue/composables/useDomainsManager.spec.ts
  tests/unit/vue/composables/useMetadata.spec.ts
  tests/unit/vue/stores/domainsStore.spec.ts
  tests/unit/vue/stores/metadataListStore.spec.ts
  tests/unit/vue/stores/metadataStore.spec.ts
  tests/unit/vue/stores/metadataStoreDateHandling.spec.ts
  tests/unit/vue/stores/secrets/secretsStoreFieldHandling.spec.ts
  tests/unit/vue/stores/secretsStore.spec.ts
  tests/unit/vue/stores/windowStore.spec.ts
Due: local-eslint-fast, typescript-check-full

[#934] Tidy fixtures
  tests/unit/vue/fixtures/domainBranding.fixture.ts
  tests/unit/vue/fixtures/window.fixture.ts
Due: local-eslint-fast

[#934] Update WindowService to use OnetimeWindow types
  src/App.vue
  src/layouts/BaseLayout.vue
  src/services/window.ts
Due: local-eslint-fast, typescript-check-full

[#936] Unify props across layout components
  eslint.config.ts
  package.json
  src/App.vue
  src/components/layout/DefaultFooter.vue
  src/components/layout/DefaultHeader.vue
  src/components/layout/FooterLinkLists.vue
  src/components/layout/HeaderUserNav.vue
  src/layouts/BaseLayout.vue
  src/layouts/DefaultLayout.vue
  src/layouts/QuietLayout.vue
  src/layouts/WideLayout.vue
  src/router/auth.routes.ts
  src/services/window.service.ts
  src/types/ui/layouts.ts
Due: local-eslint-fast, typescript-check-full

[#936] Cleanup WindowService
  src/main.ts
  src/services/window.service.ts
  src/stores/authStore.ts
  src/utils/color-utils.ts
Due: local-eslint-fast, typescript-check-full

[#936] Add imports
  src/types/declarations/window.d.ts
Due: local-eslint-fast, typescript-check-full

[#936] Align jsvars and OnetimeWindow
  lib/onetime/app/web/views.rb
  lib/onetime/app/web/views/base.rb
  lib/onetime/logic/secrets/show_metadata.rb
  src/App.vue
  src/schemas/models/metadata.ts
  src/types/declarations/window.d.ts
  tests/unit/vue/fixtures/metadata.fixture.ts
  tests/unit/vue/fixtures/window.fixture.ts
Due: local-eslint-fast, typescript-check-full

[#936] Ensure jsvars exist, even as null
  lib/onetime/app/web/views/base.rb
Due: none

[#936] Replace useWindowProp w/ WindowService
  src/README.md
  src/components/DomainsTable.vue
  src/components/FeedbackForm.vue
  src/components/FeedbackModalForm.vue
  src/components/LanguageToggle.vue
  src/components/dashboard/DashboardTabNav.vue
  src/components/modals/SettingsModal.vue
  src/components/modals/settings/JurisdictionTab.vue
  src/components/secrets/SecretRecipientOnboardingContent.vue
  src/components/secrets/canonical/BaseSecretDisplay.vue
  src/components/secrets/form/InboundSecretForm.vue
  src/components/secrets/form/SecretFormPrivacyOptions.vue
  src/composables/useWindowProps copy.ts
  src/composables/useWindowProps.ts
  src/router/guards.routes.ts
  src/router/index.ts
  src/views/About.vue
  src/views/Translations.vue
  src/views/account/AccountDomains.vue
  src/views/account/AccountIndex.vue
  src/views/auth/Signup.vue
  src/views/secrets/IncomingSupportSecret.vue
  src/views/secrets/ShowSecretContainer.vue
  tests/unit/vue/router/public.routes.spec.ts
Due: local-eslint-fast, typescript-check-full

[#936] Import debug constant
  vite.config.ts
Due: local-eslint-fast

[#936] Add missing values to test config
  tests/unit/ruby/config.test.yaml
Due: none

Path conditions:
  local-eslint-fast: any of: (^src/.*\.(mjs|ts|vue)$|^.*\.(mjs|ts|vue)$), but not: ^(vendor|node_modules|dist|build)/
  typescript-check-full: any of: ^src/.*\.(ts|tsx|vue)$, but not: ^(vendor|node_modules|dist|build)/
