Repository onetimesecret/onetimesecret: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint-fast, typescript-check-full

.pre-commit-config.yaml:

##
# Pre-Commit Configuration
#
# Initial setup:
#
#   0. Install the pre-commit framework (if it isn't already on your system):
#
#         $ pip install pre-commit
#
#   1. Install the git hook:
#
#         $ pre-commit install
#
#
# Other commands:
#
#   Run it on all the files in this repo:
#     $ pre-commit run --all-files
#
#   Updating plugin repositories:
#     $ pre-commit autoupdate
#
#   Automatically enable pre-commit on repositories
#     $ git config --global init.templateDir ~/.git-template
#     $ pre-commit init-templatedir ~/.git-template
#
# See also:
#   - https://pre-commit.com for more information
#   - https://pre-commit.com/hooks.html for more hooks
#

default_install_hook_types:
  - pre-commit
  - prepare-commit-msg
  - post-commit
  - post-checkout
  - post-merge

default_stages: [pre-commit]

fail_fast: true

# Skip generated/dependency directories
exclude: '^(vendor|node_modules|dist|build)/'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Fast, essential checks only
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files
        args: ["--maxkb=2500"]
      - id: no-commit-to-branch
        args: ["--branch", "develop", "--branch", "rel/.*"]

  # Originally based on Rubocop's own pre-commit configuration
  # https://github.com/rubocop/rubocop/blob/d5d8828/.pre-commit-hooks.yaml
  # NOTE: Don't enable '--autocorrect' until codebase is clean
  # Use Rubocop local hooks for better performance
  # Fast local Rubocop checks (basic syntax)
  - repo: local
    hooks:
      - id: local-rubocop-fast
        stages: [pre-commit]
        name: Quick Rubocop
        entry: bundle exec rubocop --force-exclusion --config .rubocop.yml --format json --fail-level error --only Syntax,Layout --no-server
        language: system
        types: [ruby]
        files: \.(rb|rake)$
        pass_filenames: true

  - repo: https://github.com/avilaton/add-msg-issue-prefix-hook
    rev: v0.0.11
    hooks:
      - id: add-msg-issue-prefix
        stages: [prepare-commit-msg]
        args:
          - "--default=[UNTRACKED]"
          - "--pattern=[a-zA-Z0-9]{0,10}-?[0-9]{1,5}"
          - "--template=[#{}]"

  # Quick local ESLint checks (syntax only)
  - repo: local
    hooks:
      - id: local-eslint-fast
        stages: [pre-commit]
        name: Quick ESLint
        entry: node_modules/.bin/eslint --quiet --flag unstable_ts_config
        language: system
        pass_filenames: true
        files: (^src/.*\.(mjs|ts|vue)$|^.*\.(mjs|ts|vue)$)

  # Quick TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check-full
        stages: [push]
        name: TypeScript Type Check
        entry: pnpm run type-check
        language: system
        pass_filenames: true
        types: [file]
        files: ^src/.*\.(ts|tsx|vue)$

  - repo: local
    hooks:
      - id: register-build
        stages: [post-commit, post-checkout, post-merge]
        name: Record commit hash
        entry: "sh -c 'git rev-parse --short HEAD > .commit_hash.txt; echo Commit hash recorded; head -4 .commit_hash.txt package.json'"
        language: system
        always_run: true
        pass_filenames: false

[#I18] Harmonize Dutch (nl)
  src/locales/nl.json
Due: none

Example of impacts to synced files when renaming a collection
  .postman/api_bd538418-69de-4a9d-8c53-d4da96a0e5fa
  docs/api/collections/API - Reference Collection (outdated).json
  docs/api/collections/API - Reference Collection.json
Due: none

Fix tags and request content types
  .postman/api_bd538418-69de-4a9d-8c53-d4da96a0e5fa
  docs/api/collections/API - Reference Collection (outdated).json
  docs/api/collections/API - Reference Collection.json
  docs/api/definition.json
Due: none

Re-ordered endpoints
  docs/api/definition.json
Due: none

A couple more endpoint tags
  .postman/api_bd538418-69de-4a9d-8c53-d4da96a0e5fa
  docs/api/collections/API Reference (2025-02-13).json
  docs/api/definition.json
Due: none

Fix secret reveal path
  .postman/api_bd538418-69de-4a9d-8c53-d4da96a0e5fa
  docs/api/collections/API Reference (2025-02-13).json
  docs/api/definition.json
Due: none

Update response examples
  docs/api/collections/API Reference (2025-02-13).json
  docs/api/definition.json
Due: none

[#I18] Enable locale: nl
  etc/config.example.yaml
Due: none

[FIX] Fix exception message
  lib/onetime/config.rb
Due: none

[#1126] Enhance CSRF store
  src/stores/csrfStore.ts
Due: local-eslint-fast, typescript-check-full

[#1126] Increase check interval
  src/stores/csrfStore.ts
Due: local-eslint-fast, typescript-check-full

[#1126] Remove tests for dead code
  tests/unit/vue/stores/windowStore.spec.ts
Due: local-eslint-fast

[#1126] Add docs for store dep injection design
  src/plugins/README.md
  src/plugins/core/appInitializer.ts
  src/plugins/pinia/autoInitPlugin.ts
Due: local-eslint-fast, typescript-check-full

[#1126] Ensure tested stores are attached to Vue component
  tests/unit/vue/setup.ts
Due: local-eslint-fast

[#1126] Update setp initialization for secret store
  package.json
  tests/unit/vue/stores/secretStore.spec.ts
Due: local-eslint-fast

[#1126] Add flexibility to setupTestPinia options
  tests/unit/vue/setup.ts
  tests/unit/vue/stores/csrfStore.spec.ts
  tests/unit/vue/stores/secretStore.spec.ts
Due: local-eslint-fast

[#1126] Add path
  vitest.config.ts
Due: local-eslint-fast

[#1126] Simplify vitest typecheck settings
  vitest.config.ts
Due: local-eslint-fast

[#1126] Add common functions to window mock
  tests/unit/vue/fixtures/window.fixture.ts
Due: local-eslint-fast

[#1126] Remove unused mountComponent test helper
  tests/unit/vue/setup.ts
Due: local-eslint-fast

[#1126] Improve window service error message
  src/services/window.service.ts
Due: local-eslint-fast, typescript-check-full

[#1126] Improve test window state handling
  tests/unit/vue/setup.ts
Due: local-eslint-fast

[#1126] Consolidate window test mock setup
  tests/unit/vue/fixtures/window.fixture.ts
  tests/unit/vue/setup.ts
  tests/unit/vue/setupWindow.ts
Due: local-eslint-fast

[#1126] Fix window state in CSRF store tests
  tests/unit/vue/stores/csrfStore.spec.ts
Due: local-eslint-fast

[#1126] Add window state mock to secret store tests
  tests/unit/vue/stores/secretStore.spec.ts
Due: local-eslint-fast

[#1126] Extracts document visibility mock to dedicated test setup
  tests/unit/vue/setupDocument.ts
  tests/unit/vue/stores/csrfStore.spec.ts
Due: local-eslint-fast

[#1127] Standardize TTL field handling across models
  lib/onetime/models/metadata.rb
  lib/onetime/models/secret.rb
Due: none

[#1127] Cleanup domain strategy logging level
  lib/onetime/middleware/domain_strategy.rb
Due: none

[#1127] Minor cleanup to env example
  .env.example
Due: none

[#1127] Remove redundant passphrase check
  lib/onetime/logic/secrets/reveal_secret.rb
Due: none

[#1127] Add consistent TTL fields to secret metadata
  lib/onetime/logic/secrets/base_secret_action.rb
Due: none

[#1127] Add TTL fields to metadata schema
  src/schemas/models/metadata.ts
Due: local-eslint-fast, typescript-check-full

[#1127] Improves data locality subtitle formatting
  src/components/auth/AuthView.vue
  src/locales/en.json
  src/locales/fr_CA.json
Due: local-eslint-fast, typescript-check-full

[#1127] Standardize TTL and lifespan fields as numeric
  src/schemas/models/metadata.ts
  src/schemas/models/secret.ts
Due: local-eslint-fast, typescript-check-full

[#1136] Integrate dynamic page content
  src/views/pricing/Pricing.vue
  src/views/pricing/PricingSolo.vue
  src/views/pricing/PricingTrio.vue
Due: local-eslint-fast, typescript-check-full

[#1136] Add basic tier and refresh dedicated tier
  src/sources/productTiers.ts
Due: local-eslint-fast, typescript-check-full

[#1136] Update pricing page with new tier options
  src/locales/en.json
  src/router/product.routes.ts
  src/views/pricing/PricingTrio.vue
Due: local-eslint-fast, typescript-check-full

[#1136] Dynamic list of regions on pricing page
  src/locales/en.json
  src/stores/jurisdictionStore.ts
  src/views/pricing/PricingTrio.vue
Due: local-eslint-fast, typescript-check-full

[#1136] Clarify product text
  src/sources/productTiers.ts
Due: local-eslint-fast, typescript-check-full

[#1136] Fix type error
  src/views/pricing/Pricing.vue
Due: local-eslint-fast, typescript-check-full
