Repository onetimesecret/onetimesecret: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint-fast, typescript-check-full

.pre-commit-config.yaml:

##
# Pre-Commit Configuration
#
# Initial setup:
#
#   0. Install the pre-commit framework (if it isn't already on your system):
#
#         $ pip install pre-commit
#
#   1. Install the git hook:
#
#         $ pre-commit install
#
#
# Other commands:
#
#   Run it on all the files in this repo:
#     $ pre-commit run --all-files
#
#   Updating plugin repositories:
#     $ pre-commit autoupdate
#
#   Automatically enable pre-commit on repositories
#     $ git config --global init.templateDir ~/.git-template
#     $ pre-commit init-templatedir ~/.git-template
#
# See also:
#   - https://pre-commit.com for more information
#   - https://pre-commit.com/hooks.html for more hooks
#

default_install_hook_types:
  - pre-commit
  - prepare-commit-msg
  - post-commit
  - post-checkout
  - post-merge

default_stages: [pre-commit]

fail_fast: true

# Skip generated/dependency directories
exclude: '^(vendor|node_modules|dist|build)/'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Fast, essential checks only
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files
        args: ["--maxkb=2500"]
      - id: no-commit-to-branch
        args: ["--branch", "develop", "--branch", "rel/.*"]

  # Originally based on Rubocop's own pre-commit configuration
  # https://github.com/rubocop/rubocop/blob/d5d8828/.pre-commit-hooks.yaml
  # NOTE: Don't enable '--autocorrect' until codebase is clean
  # Use Rubocop local hooks for better performance
  # Fast local Rubocop checks (basic syntax)
  - repo: local
    hooks:
      - id: local-rubocop-fast
        stages: [pre-commit]
        name: Quick Rubocop
        entry: bundle exec rubocop --force-exclusion --config .rubocop.yml --format json --fail-level error --only Syntax,Layout --no-server
        language: system
        types: [ruby]
        files: \.(rb|rake)$
        pass_filenames: true

  - repo: https://github.com/avilaton/add-msg-issue-prefix-hook
    rev: v0.0.11
    hooks:
      - id: add-msg-issue-prefix
        stages: [prepare-commit-msg]
        args:
          - "--default=[UNTRACKED]"
          - "--pattern=[a-zA-Z0-9]{0,10}-?[0-9]{1,5}"
          - "--template=[#{}]"

  # Quick local ESLint checks (syntax only)
  - repo: local
    hooks:
      - id: local-eslint-fast
        stages: [pre-commit]
        name: Quick ESLint
        entry: node_modules/.bin/eslint --quiet --flag unstable_ts_config
        language: system
        pass_filenames: true
        files: (^src/.*\.(mjs|ts|vue)$|^.*\.(mjs|ts|vue)$)

  # Quick TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check-full
        stages: [push]
        name: TypeScript Type Check
        entry: pnpm run type-check
        language: system
        pass_filenames: true
        types: [file]
        files: ^src/.*\.(ts|tsx|vue)$

  - repo: local
    hooks:
      - id: register-build
        stages: [post-commit, post-checkout, post-merge]
        name: Record commit hash
        entry: "sh -c 'git rev-parse --short HEAD > .commit_hash.txt; echo Commit hash recorded; head -4 .commit_hash.txt package.json'"
        language: system
        always_run: true
        pass_filenames: false

[#906] Cleanup type-chcek commands
  package.json
Due: none

[#906] Rename notifications store for consistency
  src/components/StatusBar.vue
  src/composables/useErrorHandler.ts
  src/composables/useMetadata.ts
  src/stores/index.ts
  src/stores/notificationsStore.ts
  src/views/account/AccountDomainBrand.vue
  src/views/account/AccountDomains.vue
  tests/unit/vue/composables/useExceptionReporting.spec.ts
Due: local-eslint-fast, typescript-check-full

[#906] Add specs for domain composables
  tests/unit/vue/composables/useDomainBranding.spec.ts
  tests/unit/vue/composables/useDomainsManager.spec.ts
  tests/unit/vue/composables/useExceptionReporting.spec.ts
  tests/unit/vue/fixtures/domainBranding.ts
  tests/unit/vue/fixtures/domains.ts
Due: local-eslint-fast

[#906] Expand test cases for domains composables
  tests/unit/vue/composables/useDomainBranding.spec.ts
  tests/unit/vue/composables/useDomainsManager.spec.ts
Due: local-eslint-fast

[#906] Rename internal var
  src/composables/useMetadata.ts
  tests/unit/vue/composables/useMetadata.spec.ts
  tests/unit/vue/fixtures/metadata.ts
  vitest.config.ts
Due: local-eslint-fast, typescript-check-full

[#906] Minor updates to domainManager tests
  tests/unit/vue/composables/useDomainsManager.spec.ts
  tests/unit/vue/composables/useMetadata.spec.ts
Due: local-eslint-fast

[#906] Add axios mock lib for testing
  package.json
  pnpm-lock.yaml
Due: none

[#906] Delay creating axios client until app init
  src/main.ts
  src/stores/domainsStore.ts
  src/stores/metadataStore.ts
Due: local-eslint-fast, typescript-check-full

[#906] Update fixture to match schema
  tests/unit/vue/fixtures/metadata.ts
Due: local-eslint-fast

[#906] Working metadata store api mocks
  tests/unit/vue/stores/metadataStore.spec.ts
Due: local-eslint-fast

[#906] Add earlier test cases (not passing yet)
  tests/unit/vue/stores/metadataStore.spec.ts
Due: local-eslint-fast

[#906] Fix for API error
  tests/unit/vue/stores/metadataStore.spec-possible-approach-without-axiosmocklib.ts
  tests/unit/vue/stores/metadataStore.spec.ts
Due: local-eslint-fast

[#906] Update test config
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  tests/README.md
  tests/unit/vue/composables/useDomainsManager.spec.ts
  tests/unit/vue/types.d.ts
  tsconfig.json
  vitest.config.ts
Due: local-eslint-fast

[#906] Polish eslint rules and commands
  eslint.config.mjs
  package.json
Due: local-eslint-fast

[#906] Update vite and vitest to latest patch
  package.json
  pnpm-lock.yaml
Due: none

[#906] Progress on metadata store tests
  tests/unit/vue/stores/metadataStore-possible-approach-without-axiosmocklib.spec.ts
  tests/unit/vue/stores/metadataStore.spec.ts
Due: local-eslint-fast

[#906] Add tests for redirect utils
  tests/unit/vue/utils/redirect.spec.ts
Due: local-eslint-fast

[#906] Update redirect path validation logic
  src/utils/redirect.ts
Due: local-eslint-fast, typescript-check-full

[#906] Fix for apiToken schema path
  src/components/account/APIKeyForm.vue
Due: local-eslint-fast, typescript-check-full

[#906] Update Vite config to use project root dir
  vite.config.ts
Due: local-eslint-fast

[#906] Increase cyclomatic complexity tolerance (12)
  eslint.config.mjs
Due: local-eslint-fast

[#906] Improve URL validation w/ test support
  src/utils/redirect.ts
  tests/unit/vue/utils/redirect.spec.ts
  vite.config.ts
Due: local-eslint-fast, typescript-check-full

[UNTRACKED] # This is a combination of 2 commits.
  src/stores/metadataStore.ts
  tests/unit/vue/stores/metadataStore.spec.ts
  tests/unit/vue/stores/secretsStore.spec.ts
  tests/unit/vue/utils/routerSetup.ts
Due: local-eslint-fast, typescript-check-full

[#906]
  tests/unit/vue/stores/metadataStore.spec.ts
Due: local-eslint-fast

[#906] Add store test pattern with loading state
  package.json
  pnpm-lock.yaml
  tests/unit/vue/fixtures/metadata.ts
  tests/unit/vue/stores/storeExample.spec.ts
Due: local-eslint-fast

[#906] Replace store plugin with method
  src/main.ts
  src/plugins/pinia/withLoadingPlugin.ts
  src/stores/metadataStore.ts
  tests/unit/vue/stores/metadataStore.spec.ts
Due: local-eslint-fast, typescript-check-full

[#906] Fix for parseDateValue
  src/utils/parse/date.ts
Due: local-eslint-fast, typescript-check-full

[#906] Cleanup eslint error
  src/stores/metadataStore.ts
Due: local-eslint-fast, typescript-check-full

[#906] Add tests for date parser
  tests/unit/vue/utils/parse.spec.ts
Due: local-eslint-fast

[#906] Rewrite metadata store tests
  tests/unit/vue/stores/metadataStore.spec-possible-approach-without-axiosmocklib.ts
  tests/unit/vue/stores/metadataStore.spec.ts
Due: local-eslint-fast

[#906] Fixes for metadata store tests
  tests/unit/vue/stores/metadataStore.spec.ts
  tests/unit/vue/stores/metadataStoreDateHandling.spec.ts
Due: local-eslint-fast

[#906] Fix handling dates in millis or seconds
  src/utils/parse/date.ts
  tests/unit/vue/utils/parse.spec.ts
Due: local-eslint-fast, typescript-check-full

[#906] Add mock secret data to metadata fixtures
  tests/unit/vue/fixtures/metadata.spec.ts
  tests/unit/vue/fixtures/metadata.ts
  tests/unit/vue/stores/metadataStore.spec.ts
Due: local-eslint-fast

[#906] Add happy path test case for metadata store
  tests/unit/vue/stores/metadataStore-possible-approach-without-axiosmocklib.spec.ts
  tests/unit/vue/stores/metadataStoreDateHandling.spec.ts
Due: local-eslint-fast

[#906] Address eslint config and ts ambiguity
  .dockerignore
  .pre-commit-config.yaml
  Dockerfile
  eslint.config.ts
Due: local-eslint-fast

[#906] Use ts parser globally for lint
  eslint.config.ts
Due: local-eslint-fast

[#906] Revert back to proper ts syntax for type imports
  eslint.config.ts
  tests/unit/vue/fixtures/metadata.ts
Due: local-eslint-fast

[#906] Progress on metadataStore tests (fetchList)
  src/schemas/api/endpoints/recent.ts
  src/stores/metadataStore.ts
  tests/unit/vue/fixtures/metadata.ts
  tests/unit/vue/stores/metadataStore.spec.ts
  vitest.config.ts
Due: local-eslint-fast, typescript-check-full

[#906] 10:49
  src/composables/useErrorHandler.ts
  src/main.ts
  src/plugins/core/errorHandler.ts
  src/plugins/index.ts
  src/stores/metadataStore.ts
  tests/unit/vue/stores/metadataStore.spec.ts
Due: local-eslint-fast, typescript-check-full

[#906] Reorder Pinia and error handler initialization
  src/main.ts
Due: local-eslint-fast, typescript-check-full
