Repository onetimesecret/onetimesecret: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint-fast, typescript-check-full

.pre-commit-config.yaml:

##
# Pre-Commit Configuration
#
# Initial setup:
#
#   0. Install the pre-commit framework (if it isn't already on your system):
#
#         $ pip install pre-commit
#
#   1. Install the git hook:
#
#         $ pre-commit install
#
#
# Other commands:
#
#   Run it on all the files in this repo:
#     $ pre-commit run --all-files
#
#   Updating plugin repositories:
#     $ pre-commit autoupdate
#
#   Automatically enable pre-commit on repositories
#     $ git config --global init.templateDir ~/.git-template
#     $ pre-commit init-templatedir ~/.git-template
#
# See also:
#   - https://pre-commit.com for more information
#   - https://pre-commit.com/hooks.html for more hooks
#

default_install_hook_types:
  - pre-commit
  - prepare-commit-msg
  - post-commit
  - post-checkout
  - post-merge

default_stages: [pre-commit]

fail_fast: true

# Skip generated/dependency directories
exclude: '^(vendor|node_modules|dist|build)/'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Fast, essential checks only
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files
        args: ["--maxkb=2500"]
      - id: no-commit-to-branch
        args: ["--branch", "develop", "--branch", "rel/.*"]

  # Originally based on Rubocop's own pre-commit configuration
  # https://github.com/rubocop/rubocop/blob/d5d8828/.pre-commit-hooks.yaml
  # NOTE: Don't enable '--autocorrect' until codebase is clean
  # Use Rubocop local hooks for better performance
  # Fast local Rubocop checks (basic syntax)
  - repo: local
    hooks:
      - id: local-rubocop-fast
        stages: [pre-commit]
        name: Quick Rubocop
        entry: bundle exec rubocop --force-exclusion --config .rubocop.yml --format json --fail-level error --only Syntax,Layout --no-server
        language: system
        types: [ruby]
        files: \.(rb|rake)$
        pass_filenames: true

  - repo: https://github.com/avilaton/add-msg-issue-prefix-hook
    rev: v0.0.11
    hooks:
      - id: add-msg-issue-prefix
        stages: [prepare-commit-msg]
        args:
          - "--default=[UNTRACKED]"
          - "--pattern=[a-zA-Z0-9]{0,10}-?[0-9]{1,5}"
          - "--template=[#{}]"

  # Quick local ESLint checks (syntax only)
  - repo: local
    hooks:
      - id: local-eslint-fast
        stages: [pre-commit]
        name: Quick ESLint
        entry: node_modules/.bin/eslint --quiet --flag unstable_ts_config
        language: system
        pass_filenames: true
        files: (^src/.*\.(mjs|ts|vue)$|^.*\.(mjs|ts|vue)$)

  # Quick TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check-full
        stages: [push]
        name: TypeScript Type Check
        entry: pnpm run type-check
        language: system
        pass_filenames: true
        types: [file]
        files: ^src/.*\.(ts|tsx|vue)$

  - repo: local
    hooks:
      - id: register-build
        stages: [post-commit, post-checkout, post-merge]
        name: Record commit hash
        entry: "sh -c 'git rev-parse --short HEAD > .commit_hash.txt; echo Commit hash recorded; head -4 .commit_hash.txt package.json'"
        language: system
        always_run: true
        pass_filenames: false

[#878] Add product identity store
  src/stores/identityStore.ts
Due: local-eslint-fast, typescript-check-full

[#878] Evolve homepage layout & component structure
  src/components/layout/QuietFooter.vue
  src/components/layout/QuietHeader.vue
  src/components/secrets/form/ConcealButton.vue
  src/components/secrets/form/SecretForm.vue
  src/router/public.routes.ts
  src/views/Homepage.vue
Due: local-eslint-fast, typescript-check-full

[#878] Added branded homepage
  src/components/layout/BrandedMastHead.vue
  src/components/layout/DefaultHeader.vue
  src/components/layout/MastHead.vue
  src/components/layout/QuietFooter.vue
  src/components/layout/QuietHeader.vue
  src/views/BrandedHomepage.vue
Due: local-eslint-fast, typescript-check-full

[#878] Formatting
  src/router/public.routes.ts
  src/stores/identityStore.ts
Due: local-eslint-fast, typescript-check-full

[#878] Separate logic from secretForm
  src/components/secrets/form/SecretForm.vue
  src/composables/useDomainDropdown.ts
  src/composables/useSecretForm.ts
  src/stores/secretStore.ts
Due: local-eslint-fast, typescript-check-full

[#878] Fix up classifier tests
  src/schemas/errors/classifier.ts
  src/schemas/errors/wrapper.ts
  tests/unit/vue/schemas/errors/classifier.spec.ts
Due: local-eslint-fast, typescript-check-full

[#878] Fix up metadata composable tests
  tests/unit/vue/composables/useMetadata.spec.ts
Due: local-eslint-fast

[#878] Fix for isApplicationError guard
  src/schemas/errors/classifier.ts
Due: local-eslint-fast, typescript-check-full

[#878] Improve metadata composable tests
  tests/unit/vue/composables/useMetadata.spec.ts
Due: local-eslint-fast

[#878] wip with useSecretConcealer
  lib/onetime/app/api/v2/routes
  lib/onetime/app/api/v2/secrets.rb
  lib/onetime/logic/secrets.rb
  lib/onetime/logic/secrets/base_secret_action.rb
  lib/onetime/logic/secrets/conceal_secret.rb
  lib/onetime/logic/secrets/generate_secret.rb
  lib/onetime/logic/secrets/old.rb
  src/components/secrets/form/ConcealButton.vue
  src/components/secrets/form/GenerateButton.vue
  src/components/secrets/form/SecretForm.vue
  src/composables/useSecretConcealer.ts
  src/composables/useSecretForm.ts
  src/schemas/api/index.ts
  src/schemas/api/payloads/conceal.ts
  src/schemas/api/payloads/generate.ts
  src/schemas/api/payloads/index.ts
  src/schemas/api/requests.ts
  src/stores/secretStore.ts
  tests/unit/vue/composables/useSecretConcealer.spec.ts
  tsconfig.json
Due: local-eslint-fast, typescript-check-full

[#878] Improve error classifier implementation
  .prettierrc
  src/composables/useAsyncHandler.ts
  src/plugins/core/globalErrorBoundary.ts
  src/router/index.ts
  src/schemas/errors/classifier.ts
  src/schemas/errors/guards.ts
  src/schemas/errors/index.ts
  src/schemas/errors/types.ts
  src/schemas/errors/utils.ts
  src/schemas/errors/wrapper.ts
Due: local-eslint-fast, typescript-check-full

[#878] Fix for secret param
  lib/onetime/logic/secrets/base_secret_action.rb
  lib/onetime/logic/secrets/conceal_secret.rb
Due: none

[#878] Rename 'share' to 'conceal'
  src/components/secrets/form/ConcealButton.vue
  src/components/secrets/form/InboundSecretForm.vue
  src/components/secrets/form/SecretForm.vue
  src/composables/useSecretConcealer.ts
  src/schemas/api/payloads/conceal.ts
  src/schemas/api/payloads/generate.ts
  tests/integration/web/check-homepage.spec.ts
  tests/unit/vue/composables/useSecretConcealer.spec.ts
Due: local-eslint-fast, typescript-check-full

[#878] Fix for hasInitialContent
  src/components/secrets/form/SecretContentInputArea.vue
  src/components/secrets/form/SecretForm.vue
  src/composables/useDomainDropdown.ts
  src/composables/useSecretConcealer.ts
Due: local-eslint-fast, typescript-check-full

[#878] Fix for privacy options
  src/components/secrets/form/SecretForm.vue
  src/components/secrets/form/SecretFormPrivacyOptions.vue
  src/composables/useSecretConcealer.ts
  src/schemas/api/payloads/conceal.ts
Due: local-eslint-fast, typescript-check-full

[#878] Tidy use concealer composable
  src/composables/useSecretConcealer.ts
  src/schemas/api/payloads/conceal.ts
  src/schemas/api/payloads/generate.ts
  src/stores/secretStore.ts
Due: local-eslint-fast, typescript-check-full

[#878] Misc: sort recent metadata newest first
  lib/onetime/logic/secrets/show_metadata_list.rb
Due: none

[#878] Add domain strategy support to logic classes
  lib/onetime/app/api/v2/base.rb
  lib/onetime/logic/base.rb
  lib/onetime/logic/secrets/base_secret_action.rb
  lib/onetime/middleware/domain_strategy.rb
  lib/onetime/models/custom_domain.rb
Due: none

[#878] Correct secret kind
  lib/onetime/logic/secrets/conceal_secret.rb
Due: none

[#878] Improve share domain logic implementation
  lib/onetime/logic/secrets/base_secret_action.rb
Due: none

[#878] DRY up conceal/generate request schemas
  src/schemas/api/payloads/base.ts
  src/schemas/api/payloads/conceal.ts
  src/schemas/api/payloads/generate.ts
Due: local-eslint-fast, typescript-check-full

[#878] Add logo link to homepage
  src/components/layout/BrandedMastHead.vue
Due: local-eslint-fast, typescript-check-full

[#878] Place theme toggle at the very bottom of the footer
  src/components/layout/QuietFooter.vue
Due: local-eslint-fast, typescript-check-full

[#878] Fix for selected domain
  src/components/secrets/form/SecretContentInputArea.vue
  src/composables/useDomainDropdown.ts
  src/composables/useSecretConcealer.ts
  src/views/secrets/branded/ShowSecret.vue
Due: local-eslint-fast, typescript-check-full

[#878] Fix faulty failed passphrase limiter
  lib/onetime/logic/secrets/show_secret.rb
Due: none

[#878] Make the logo clickable to the homepage
  src/components/secrets/branded/BaseSecretDisplay.vue
Due: local-eslint-fast, typescript-check-full

[#878] Improve UX around loading states
  src/views/secrets/BurnSecret.vue
Due: local-eslint-fast, typescript-check-full

[#878] Move powered by to layout component
  src/components/layout/QuietFooter.vue
  src/layouts/QuietLayout.vue
Due: local-eslint-fast, typescript-check-full

[#878] Improve UX around loading states cont'd
  src/components/base/BaseShowSecret.vue
Due: local-eslint-fast, typescript-check-full

[#878] Use new identity store in base layout
  src/layouts/BaseLayout.vue
Due: local-eslint-fast, typescript-check-full

[#878] Expand mandate for QuietFooter
  src/components/JurisdictionFooterNotice.vue
  src/components/layout/DefaultFooter.vue
  src/components/layout/QuietFooter.vue
  src/components/layout/QuietHeader.vue
  src/layouts/BaseLayout.vue
  src/router/metadata.routes.ts
  src/router/public.routes.ts
  src/types/ui/layouts.ts
Due: local-eslint-fast, typescript-check-full

Apply suggestions from code review
  etc/config.example.yaml
Due: none

[#878] Move logo link to SecretDisplayCase
  src/components/auth/AuthView.vue
  src/components/secrets/branded/BaseSecretDisplay.vue
  src/components/secrets/branded/SecretDisplayCase.vue
Due: local-eslint-fast, typescript-check-full

[#878] Formatting
  src/components/secrets/branded/SecretDisplayCase.vue
Due: local-eslint-fast, typescript-check-full

[#878] Add displayPoweredBy flags
  src/components/layout/DefaultFooter.vue
  src/router/dashboard.routes.ts
Due: local-eslint-fast, typescript-check-full

[#878] Add disabled state for branded homepage
  src/components/layout/BrandedMastHead.vue
  src/components/layout/QuietHeader.vue
  src/stores/identityStore.ts
  src/views/BrandedHomepage.vue
Due: local-eslint-fast, typescript-check-full

[#952] Adds SVG sprite icons
  src/components/icons/CarbonSprites.vue
  src/components/icons/Fa6SolidEarthEurope.vue
  src/components/icons/FontAwesome6Sprites.vue
  src/components/icons/HeroiconsSprites.vue
  src/components/icons/MdiSprites.vue
Due: local-eslint-fast, typescript-check-full

[#952] Fix linking to adjacent spaces
  src/components/modals/FeedbackModal.vue
Due: local-eslint-fast, typescript-check-full

[#952] Add OIcon
  src/components/MinimalDropdownMenu.vue
  src/components/icons/OIcon.vue
Due: local-eslint-fast, typescript-check-full

[#952] Add sprites to App.vue
  src/App.vue
  src/views/Homepage.vue
Due: local-eslint-fast, typescript-check-full
