Repository onetimesecret/onetimesecret: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint-fast, typescript-check-full

local-eslint-fast:
  stages:
  - pre-commit
  name: Quick ESLint
  entry: node_modules/.bin/eslint --quiet --flag unstable_ts_config
  language: system
  pass_filenames: true

typescript-check-full:
  stages:
  - push
  name: TypeScript Type Check
  entry: pnpm run type-check
  language: system
  pass_filenames: true

[#1018] Separate domain & status cell from table
  src/components/DomainsTable.vue
  src/components/dashboard/DomainsTableActionsCell.vue
  src/components/dashboard/DomainsTableDomainCell.vue
Due: local-eslint-fast, typescript-check-full

[#1018] Properly parse brand schema in identity store
  src/stores/identityStore.ts
Due: local-eslint-fast, typescript-check-full

[#1018] Tidy up primaryColor
  src/stores/identityStore.ts
Due: local-eslint-fast, typescript-check-full

[#1018] Tidy brand store
  src/stores/brandStore.ts
Due: local-eslint-fast, typescript-check-full

[#1018] Update color picker default colour
  src/components/common/ColorPicker.vue
Due: local-eslint-fast, typescript-check-full

[#1018] Fix default button colour in SecretPreview
  src/components/dashboard/SecretPreview.vue
Due: local-eslint-fast, typescript-check-full

feat(redis): Allow redis dbs to be defined from env vars
  etc/config.example.yaml
Due: none

[#ISSUE-1025] Update PR settings
  .github/workflows/.docker-build-publish-reusable.yml
  .github/workflows/Fly.io.yml
  .github/workflows/docker-publish.yml
Due: none

[#1027] Refactor themetoggle to extract composable
  src/components/ThemeToggle.vue
  src/composables/useTheme.ts
Due: local-eslint-fast, typescript-check-full

[#1027] Fix display vars on secret views
  src/router/secret.routes.ts
Due: local-eslint-fast, typescript-check-full

[#1027] Notify theme listeners on dark mode toggle
  src/composables/useTheme.ts
Due: local-eslint-fast, typescript-check-full

[#1027] Add theme toggle init with tests
  src/composables/useTheme.ts
  tests/unit/vue/composables/useTheme.spec.ts
  tsconfig.json
Due: local-eslint-fast, typescript-check-full

[#1027] Add unit tests for ThemeToggle component and update matchMedia mock
  tests/unit/vue/components/ThemeToggle.spec.ts
  tests/unit/vue/composables/useTheme.spec.ts
  tests/unit/vue/setup.ts
Due: local-eslint-fast

[#1027] Fix up window mocking for vue tests
  src/composables/useTheme.ts
  src/services/window.service.ts
  tests/unit/vue/fixtures/window.fixture.ts
  tests/unit/vue/setup.ts
  tests/unit/vue/setupWindow.ts
  vitest.config.ts
Due: local-eslint-fast, typescript-check-full

[#1027] Add vue-mock-router dep
  package.json
  pnpm-lock.yaml
  tests/unit/vue/setupRouter.ts
  vitest.config.ts
Due: local-eslint-fast

[#1027] Add mountComponent setup function
  tests/unit/vue/setup.ts
Due: local-eslint-fast

[#1027] Update useMetadata tests
  tests/unit/vue/composables/useMetadata.spec.ts
  tests/unit/vue/fixtures/metadata.fixture.ts
Due: local-eslint-fast

[#1027] Fix for error schema
  src/composables/useMetadata.ts
  src/schemas/errors/types.ts
Due: local-eslint-fast, typescript-check-full

[#1027] Remove crud from domain fixtures
  tests/unit/vue/fixtures/domains.fixture.ts
Due: local-eslint-fast

[#1027] Remove tests from tsconfig
  tsconfig.json
Due: none

[#1027] Type fix for ApplicationError
  src/schemas/errors/types.ts
Due: local-eslint-fast, typescript-check-full

[#1027] Add clearThemeListeners
  eslint.config.ts
  src/composables/useTheme.ts
  tests/unit/vue/composables/useTheme.spec.ts
Due: local-eslint-fast, typescript-check-full

[#1027] Cleanup listeners when unmounting theme toggle
  src/components/ThemeToggle.vue
  tests/unit/vue/components/ThemeToggle.spec.ts
Due: local-eslint-fast, typescript-check-full

[#1027] Add ThemeToggle component testcases
  tests/unit/vue/components/ThemeToggle.spec.ts
Due: local-eslint-fast

[#1027] Add defensive checks for browser API
  src/composables/useTheme.ts
Due: local-eslint-fast, typescript-check-full

remove an out-of-place line in the readme and an unrelated software link in the table
  README.md
Due: none

[#20250129] Add region badge to masthead
  src/components/layout/MastHead.vue
  src/components/layout/QuietHeader.vue
Due: local-eslint-fast, typescript-check-full

[#20250129] Revisit masthead region badge and add tagline
  src/components/layout/MastHead.vue
Due: local-eslint-fast, typescript-check-full

[#20250129] Add regions popover menu on click
  src/components/layout/MastHead.vue
Due: local-eslint-fast, typescript-check-full

[#20250129] Re-implement popover as modest tooltip
  src/components/layout/MastHead.vue
Due: local-eslint-fast, typescript-check-full

[#20250129] Fix for burn button color
  src/components/secrets/metadata/BurnButtonForm.vue
Due: local-eslint-fast, typescript-check-full

Via Postman app
  docs/api/collections/Onetime Secret - API Definition.json
Due: none

[#2025-01] Fix line ending
  docs/api/collections/Onetime Secret - API Definition.json
Due: none

[#2025-01] Catch up Postman Collection with API definition
  docs/api/collections/Onetime Secret - API Definition.json
Due: none

[#1029] Add missing components/schemas
  docs/api/definition.json
Due: none

[#1029] Update API date
  docs/api/definition.json
Due: none

[#1029] Reviewed defs for all 4 create secret endpoints
  docs/api/definition.json
Due: none

Validated and beautified definition
  docs/api/collections/Onetime Secret - API Definition.json
  docs/api/definition.json
Due: none

Removed outdated endpoints from collection
  docs/api/collections/Onetime Secret - API Definition.json
Due: none

Latest refinements via Postman App
  docs/api/collections/Onetime Secret - API Definition.json
  docs/api/definition.json
Due: none

Path conditions:
  local-eslint-fast: any of: (^src/.*\.(mjs|ts|vue)$|^.*\.(mjs|ts|vue)$), but not: ^(vendor|node_modules|dist|build)/
  typescript-check-full: any of: ^src/.*\.(ts|tsx|vue)$, but not: ^(vendor|node_modules|dist|build)/
