Repository onetimesecret/onetimesecret: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint-fast, typescript-check-full

.pre-commit-config.yaml:

##
# Pre-Commit Configuration
#
# Initial setup:
#
#   0. Install the pre-commit framework (if it isn't already on your system):
#
#         $ pip install pre-commit
#
#   1. Install the git hook:
#
#         $ pre-commit install
#
#
# Other commands:
#
#   Run it on all the files in this repo:
#     $ pre-commit run --all-files
#
#   Updating plugin repositories:
#     $ pre-commit autoupdate
#
#   Automatically enable pre-commit on repositories
#     $ git config --global init.templateDir ~/.git-template
#     $ pre-commit init-templatedir ~/.git-template
#
# See also:
#   - https://pre-commit.com for more information
#   - https://pre-commit.com/hooks.html for more hooks
#

default_install_hook_types:
  - pre-commit
  - prepare-commit-msg
  - post-commit
  - post-checkout
  - post-merge

default_stages: [pre-commit]

fail_fast: true

# Skip generated/dependency directories
exclude: '^(vendor|node_modules|dist|build)/'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Fast, essential checks only
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files
        args: ["--maxkb=2500"]
      - id: no-commit-to-branch
        args: ["--branch", "develop", "--branch", "rel/.*"]

  # Originally based on Rubocop's own pre-commit configuration
  # https://github.com/rubocop/rubocop/blob/d5d8828/.pre-commit-hooks.yaml
  # NOTE: Don't enable '--autocorrect' until codebase is clean
  # Use Rubocop local hooks for better performance
  # Fast local Rubocop checks (basic syntax)
  - repo: local
    hooks:
      - id: local-rubocop-fast
        stages: [pre-commit]
        name: Quick Rubocop
        entry: bundle exec rubocop --force-exclusion --config .rubocop.yml --format json --fail-level error --only Syntax,Layout --no-server
        language: system
        types: [ruby]
        files: \.(rb|rake)$
        pass_filenames: true

  - repo: https://github.com/avilaton/add-msg-issue-prefix-hook
    rev: v0.0.11
    hooks:
      - id: add-msg-issue-prefix
        stages: [prepare-commit-msg]
        args:
          - "--default=[UNTRACKED]"
          - "--pattern=[a-zA-Z0-9]{0,10}-?[0-9]{1,5}"
          - "--template=[#{}]"

  # Quick local ESLint checks (syntax only)
  - repo: local
    hooks:
      - id: local-eslint-fast
        stages: [pre-commit]
        name: Quick ESLint
        entry: node_modules/.bin/eslint --quiet --flag unstable_ts_config
        language: system
        pass_filenames: true
        files: (^src/.*\.(mjs|ts|vue)$|^.*\.(mjs|ts|vue)$)

  # Quick TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check-full
        stages: [push]
        name: TypeScript Type Check
        entry: pnpm run type-check
        language: system
        pass_filenames: true
        types: [file]
        files: ^src/.*\.(ts|tsx|vue)$

  - repo: local
    hooks:
      - id: register-build
        stages: [post-commit, post-checkout, post-merge]
        name: Record commit hash
        entry: "sh -c 'git rev-parse --short HEAD > .commit_hash.txt; echo Commit hash recorded; head -4 .commit_hash.txt package.json'"
        language: system
        always_run: true
        pass_filenames: false

[#2025-01] Re-enable type-checking on build
  Dockerfile
Due: none

[#878] Fix to show session errors only once
  lib/onetime/app/api/v2/challenges.rb
  lib/onetime/app/web/app_base.rb
Due: none

[#878] Dump jsvars as a JSON script blob
  lib/onetime/app/web/views/base.rb
  lib/onetime/app/web/views/view_helpers.rb
  lib/onetime/utils.rb
Due: none

[#878] Use jsvars_to_script in server head.html
  templates/web/partial/head.html
Due: none

[#878] Hydrate onetime state
  src/main.ts
  src/services/window.service.ts
  src/types/declarations/global.d.ts
Due: local-eslint-fast, typescript-check-full

[#878] Add new experimental setting: `csp`
  .env.example
  etc/config.example.yaml
  etc/config.schema.yaml
  tests/unit/ruby/config.test.yaml
Due: none

[#878] Add CSP + nonce functionality
  lib/onetime.rb
  lib/onetime/app/app_helpers.rb
  lib/onetime/app/web/views/base.rb
  lib/onetime/app/web/views/view_helpers.rb
Due: none

[#878] Limit logo size
  src/components/layout/DefaultHeader.vue
Due: local-eslint-fast, typescript-check-full

[#878] Add nonce to built in assets
  templates/web/index.html
  templates/web/partial/head.html
Due: none

[#878] Add the nonce to onetime state script
  lib/onetime/app/web/views/view_helpers.rb
  lib/onetime/utils.rb
Due: none

[#878] Fix remaining direct window state access
  src/components/CustomDomainDropdown.vue
  src/components/CustomDomainPreview.vue
  src/components/secrets/form/SecretContentInputArea.vue
  src/components/secrets/form/SecretForm.vue
  src/i18n.ts
  src/stores/authStore.ts
  src/stores/csrfStore.ts
  src/stores/customerStore.ts
Due: local-eslint-fast, typescript-check-full

[#878] Re-add crossorigin fir preload fonts
  lib/onetime/app/web/views/view_helpers.rb
Due: none

[#878] Fix for null values in onetime state
  lib/onetime/utils.rb
Due: none

[#878] Fix for server error during rate limit
  lib/onetime/app/app_helpers.rb
Due: none

[#878] Allow inline styles and data images
  lib/onetime/app/app_helpers.rb
Due: none

[#878] Add nonce to all vite assets in prod
  lib/onetime/app/web/views/view_helpers.rb
Due: none

[#878] Fix for colonel schema error
  src/schemas/api/endpoints/colonel.ts
Due: local-eslint-fast, typescript-check-full

[#878] Fix for /domains schema when disabled
  src/schemas/models/domain/index.ts
Due: local-eslint-fast, typescript-check-full

[#878] Throw an error when state unavailable
  src/services/window.service.ts
Due: local-eslint-fast, typescript-check-full

[#878] Parse server injected data immediately
  src/main.ts
  src/services/window.service.ts
  templates/web/partial/head.html
Due: local-eslint-fast, typescript-check-full

[#878] Ensure default aligns w/ declared type
  src/components/VerifyDomainDetails.vue
Due: local-eslint-fast, typescript-check-full

[#878] No need to import compiler macros
  src/components/ButtonGroup.vue
  src/components/DomainInput.vue
  src/components/secrets/metadata/MetadataFAQ.vue
  src/layouts/DefaultLayout.vue
  src/layouts/QuietLayout.vue
  src/layouts/WideLayout.vue
Due: local-eslint-fast, typescript-check-full

[#878] Disable Vite type checking
  vite.config.ts
Due: local-eslint-fast

[#878] Add refreshRecords to domain store
  src/composables/useDomainsManager.ts
  src/stores/domainsStore.ts
  src/stores/metadataListStore.ts
Due: local-eslint-fast, typescript-check-full

[#878] Update fly config to add services.ports
  fly.toml
Due: none

[#878] Align domains and recent views UX
  src/components/DomainsTable.vue
  src/components/EmptyState.vue
  src/components/TableSkeleton.vue
  src/views/dashboard/DashboardDomains.vue
  src/views/dashboard/DashboardRecent.vue
Due: local-eslint-fast, typescript-check-full

[#878] Formatting
  .prettierrc
  src/views/dashboard/DashboardDomainVerify.vue
Due: local-eslint-fast, typescript-check-full

[#878] Don't link to brand settings until domain verified
  src/components/DomainsTable.vue
Due: local-eslint-fast, typescript-check-full

[#878] Improve UX around Verify Bomain action
  src/composables/useDomainsManager.ts
Due: local-eslint-fast, typescript-check-full

[#878] Formatting
  src/components/DomainsTable.vue
Due: local-eslint-fast, typescript-check-full

[#878] Config: default to empty frontend host
  .env.example
  etc/config.example.yaml
Due: none

[#878] Fix for additional active status values
  src/components/DomainVerificationInfo.vue
Due: local-eslint-fast, typescript-check-full

[#878] Remove default VITE_API_BASE_URL
  vite.config.ts
Due: local-eslint-fast

[#878] Align show secret page with the common base
  src/components/base/BaseShowSecret.vue
  src/views/secrets/branded/ShowSecret.vue
  src/views/secrets/canonical/ShowSecret.vue
Due: local-eslint-fast, typescript-check-full

[#878] Formatting
  .prettierrc
Due: none

[#878] Align unknown secret page with new base
  src/components/base/BaseShowSecret.vue
  src/components/base/BaseUnknownSecret.vue
  src/views/secrets/branded/UnknownSecret.vue
  src/views/secrets/canonical/ShowSecret.vue
  src/views/secrets/canonical/UnknownSecret.vue
Due: local-eslint-fast, typescript-check-full

[#878] Minor type improvements for window props
  src/types/declarations/window.d.ts
Due: local-eslint-fast, typescript-check-full

[#878] Update homepage route for identity features
  src/router/public.routes.ts
  src/router/secret.routes.ts
Due: local-eslint-fast, typescript-check-full

[#878] Add branded homepage component and friends
  src/components/layout/FooterLinkLists.vue
  src/components/layout/QuietFooter.vue
  src/components/layout/QuietHeader.vue
  src/views/BrandedHomepage.vue
  src/views/HomepageContainer.vue
Due: local-eslint-fast, typescript-check-full

[#878] Add domain_logo to window props
  lib/onetime/app/web/views/base.rb
  src/types/declarations/window.d.ts
Due: local-eslint-fast, typescript-check-full
