Repository onetimesecret/onetimesecret: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint-fast, typescript-check-full

.pre-commit-config.yaml:

##
# Pre-Commit Configuration
#
# Initial setup:
#
#   0. Install the pre-commit framework (if it isn't already on your system):
#
#         $ pip install pre-commit
#
#   1. Install the git hook:
#
#         $ pre-commit install
#
#
# Other commands:
#
#   Run it on all the files in this repo:
#     $ pre-commit run --all-files
#
#   Updating plugin repositories:
#     $ pre-commit autoupdate
#
#   Automatically enable pre-commit on repositories
#     $ git config --global init.templateDir ~/.git-template
#     $ pre-commit init-templatedir ~/.git-template
#
# See also:
#   - https://pre-commit.com for more information
#   - https://pre-commit.com/hooks.html for more hooks
#

default_install_hook_types:
  - pre-commit
  - prepare-commit-msg
  - post-commit
  - post-checkout
  - post-merge

default_stages: [pre-commit]

fail_fast: true

# Skip generated/dependency directories
exclude: '^(vendor|node_modules|dist|build)/'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Fast, essential checks only
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files
        args: ["--maxkb=2500"]
      - id: no-commit-to-branch
        args: ["--branch", "develop", "--branch", "rel/.*"]

  # Originally based on Rubocop's own pre-commit configuration
  # https://github.com/rubocop/rubocop/blob/d5d8828/.pre-commit-hooks.yaml
  # NOTE: Don't enable '--autocorrect' until codebase is clean
  # Use Rubocop local hooks for better performance
  # Fast local Rubocop checks (basic syntax)
  - repo: local
    hooks:
      - id: local-rubocop-fast
        stages: [pre-commit]
        name: Quick Rubocop
        entry: bundle exec rubocop --force-exclusion --config .rubocop.yml --format json --fail-level error --only Syntax,Layout --no-server
        language: system
        types: [ruby]
        files: \.(rb|rake)$
        pass_filenames: true

  - repo: https://github.com/avilaton/add-msg-issue-prefix-hook
    rev: v0.0.11
    hooks:
      - id: add-msg-issue-prefix
        stages: [prepare-commit-msg]
        args:
          - "--default=[UNTRACKED]"
          - "--pattern=[a-zA-Z0-9]{0,10}-?[0-9]{1,5}"
          - "--template=[#{}]"

  # Quick local ESLint checks (syntax only)
  - repo: local
    hooks:
      - id: local-eslint-fast
        stages: [pre-commit]
        name: Quick ESLint
        entry: node_modules/.bin/eslint --quiet --flag unstable_ts_config
        language: system
        pass_filenames: true
        files: (^src/.*\.(mjs|ts|vue)$|^.*\.(mjs|ts|vue)$)

  # Quick TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check-full
        stages: [push]
        name: TypeScript Type Check
        entry: pnpm run type-check
        language: system
        pass_filenames: true
        types: [file]
        files: ^src/.*\.(ts|tsx|vue)$

  - repo: local
    hooks:
      - id: register-build
        stages: [post-commit, post-checkout, post-merge]
        name: Record commit hash
        entry: "sh -c 'git rev-parse --short HEAD > .commit_hash.txt; echo Commit hash recorded; head -4 .commit_hash.txt package.json'"
        language: system
        always_run: true
        pass_filenames: false

[#1138] Update favicon.ico 32x32
  public/web/favicon.ico
Due: none

[#1136] Version bump: v0.20.0 -> v0.20.1
  package.json
Due: none

[#1136] Add continue-on-error option to YAML schema validation steps
  .github/workflows/config.yml
Due: none

[#I18] Update nl only
  src/locales/nl.json
Due: none

[#I18] Harmonize JSON for enabled locales
  src/locales/de_AT.json
  src/locales/fr_CA.json
  src/locales/fr_FR.json
  src/locales/nl.json
Due: none

[#I18] [i18n] Enable nl
  etc/config.example.yaml
Due: none

[#1142] Add RSpec tests for i18n config
  tests/unit/ruby/rspec/config/i18n_spec.rb
Due: none

[#1142] Improve i18n config spec tests
  tests/unit/ruby/rspec/config/i18n_spec.rb
Due: none

[#1142] Resolve Ruby 3.5 warning for reline, irb
  Gemfile
  Gemfile.lock
Due: none

[#1142] Improve i18n config spec tests cont'd
  tests/unit/ruby/rspec/config/i18n_spec.rb
Due: none

[#1142] Consolidate i18n/locales config logic
  lib/onetime.rb
  lib/onetime/config.rb
Due: none

[#1142] Add convenience "script" for running rspec tests
  package.json
Due: none

[#1142] Add i18n visibility controls to UI components
  src/components/layout/DefaultFooter.vue
  src/components/layout/QuietFooter.vue
  src/components/layout/SecretFooterControls.vue
  src/components/modals/SettingsModal.vue
  src/components/modals/settings/GeneralTab.vue
  src/views/dashboard/DashboardDomainBrand.vue
Due: local-eslint-fast, typescript-check-full

[#1143] Refactor languageStore to use getSetGlobalLocale and add computed properties for accept languages
  src/stores/languageStore.ts
  src/stores/secretStore.ts
Due: local-eslint-fast, typescript-check-full

[#1143] Refactor WindowService to introduce getState method and improve error handling for state access
  src/services/window.service.ts
Due: local-eslint-fast, typescript-check-full

[#1143] Update axios interceptors request headers
  src/plugins/axios/interceptors.ts
Due: local-eslint-fast, typescript-check-full

[#1143] Add setupEmptyWindowState for tests
  package.json
  tests/unit/vue/setupWindow.ts
  tests/unit/vue/stores/languageStore.spec.ts
Due: local-eslint-fast

[#1143] Update appInitializer to get lazy loaded i18n
  src/plugins/core/appInitializer.ts
Due: local-eslint-fast, typescript-check-full

[#1143] Remove lazy-loaded function from language store
  src/stores/languageStore.ts
Due: local-eslint-fast, typescript-check-full

[#1143] Remove lazy-loaded i18n from app init
  src/plugins/core/appInitializer.ts
Due: local-eslint-fast, typescript-check-full

[#1143] Add helpful class name to loglin
  lib/onetime/app/app_helpers.rb
Due: none

[#1143] Improve locale handling in API with debug support
  lib/onetime/app/api/v1/base.rb
  lib/onetime/app/api/v2/base.rb
Due: none

[#I18] i18n(nl): Replace secret-related translations
  src/locales/nl.json
Due: none

[#1142] Fix locale comparison in deep merge logic
  lib/onetime.rb
Due: none

[#1142] Expand test cases for i18n config
  tests/unit/ruby/rspec/config/i18n_spec.rb
Due: none

[#1142] Replaces fetch with dig for safer hash access
  lib/onetime/app/web/views/base.rb
  tests/unit/ruby/rspec/onetime/app/web/views/base_spec.rb
Due: none

[#1142] fix: resolve race condition in i18n method
  lib/onetime/app/web/views/base.rb
  tests/unit/ruby/rspec/onetime/app/web/views/base_spec.rb
Due: none

[#1142] Remove redundant check_locale!
  lib/onetime/app/api/v2/base.rb
  lib/onetime/app/app_helpers.rb
Due: none

[#1142] Tidying
  lib/onetime/app/web/routes
Due: none

[#1142] i18n(fr_CA): Add missing signup page strings
  src/locales/fr_CA.json
Due: none

[#1142] Add locale support to auth forms
  src/components/auth/SignInForm.vue
  src/components/auth/SignUpForm.vue
  src/views/auth/Signin.vue
  src/views/auth/Signup.vue
Due: local-eslint-fast, typescript-check-full

[#RACK-2] Update dep rack >= 2.2.12
  Gemfile
  Gemfile.lock
Due: none

[#I18] Upgrade vue-i18n
  package.json
  pnpm-lock.yaml
Due: none

Update pre-commit message regex
  .pre-commit-config.yaml
Due: none

Use computed property for Identity Plus tier
  src/components/modals/UpgradeIdentityModal.vue
Due: local-eslint-fast, typescript-check-full

[#1149] Fix binding syntax for placeholders
  src/views/auth/PasswordResetRequest.vue
  src/views/secrets/IncomingSupportSecret.vue
Due: local-eslint-fast, typescript-check-full

[#1149] Remove throb animation from homepage pricing button
  src/components/ctas/HomepagePlansCTA.vue
Due: local-eslint-fast, typescript-check-full

[#1149] .
  src/components/ctas/HomepagePlansCTA.vue
Due: local-eslint-fast, typescript-check-full

[#1149] Fix title and aria-label attribute bindings
  src/components/dashboard/DomainsTableDomainCell.vue
  src/components/dashboard/SecretPreview.vue
  src/components/layout/MastHead.vue
  src/views/About.vue
Due: local-eslint-fast, typescript-check-full

[#1149] Improve password toggle button accessibility
  src/components/secrets/form/SecretFormPrivacyOptions.vue
Due: local-eslint-fast, typescript-check-full
