Repository onetimesecret/onetimesecret: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint-fast, typescript-check-full

.pre-commit-config.yaml:

##
# Pre-Commit Configuration
#
# Initial setup:
#
#   0. Install the pre-commit framework (if it isn't already on your system):
#
#         $ pip install pre-commit
#
#   1. Install the git hook:
#
#         $ pre-commit install
#
#
# Other commands:
#
#   Run it on all the files in this repo:
#     $ pre-commit run --all-files
#
#   Updating plugin repositories:
#     $ pre-commit autoupdate
#
#   Automatically enable pre-commit on repositories
#     $ git config --global init.templateDir ~/.git-template
#     $ pre-commit init-templatedir ~/.git-template
#
# See also:
#   - https://pre-commit.com for more information
#   - https://pre-commit.com/hooks.html for more hooks
#

default_install_hook_types:
  - pre-commit
  - prepare-commit-msg
  - post-commit
  - post-checkout
  - post-merge

default_stages: [pre-commit]

fail_fast: true

# Skip generated/dependency directories
exclude: '^(vendor|node_modules|dist|build)/'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Fast, essential checks only
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files
        args: ["--maxkb=2500"]
      - id: no-commit-to-branch
        args: ["--branch", "develop", "--branch", "rel/.*"]

  # Originally based on Rubocop's own pre-commit configuration
  # https://github.com/rubocop/rubocop/blob/d5d8828/.pre-commit-hooks.yaml
  # NOTE: Don't enable '--autocorrect' until codebase is clean
  # Use Rubocop local hooks for better performance
  # Fast local Rubocop checks (basic syntax)
  - repo: local
    hooks:
      - id: local-rubocop-fast
        stages: [pre-commit]
        name: Quick Rubocop
        entry: bundle exec rubocop --force-exclusion --config .rubocop.yml --format json --fail-level error --only Syntax,Layout --no-server
        language: system
        types: [ruby]
        files: \.(rb|rake)$
        pass_filenames: true

  - repo: https://github.com/avilaton/add-msg-issue-prefix-hook
    rev: v0.0.11
    hooks:
      - id: add-msg-issue-prefix
        stages: [prepare-commit-msg]
        args:
          - "--default=[UNTRACKED]"
          - "--pattern=[a-zA-Z0-9]{0,10}-?[0-9]{1,5}"
          - "--template=[#{}]"

  # Quick local ESLint checks (syntax only)
  - repo: local
    hooks:
      - id: local-eslint-fast
        stages: [pre-commit]
        name: Quick ESLint
        entry: node_modules/.bin/eslint --quiet --flag unstable_ts_config
        language: system
        pass_filenames: true
        files: (^src/.*\.(mjs|ts|vue)$|^.*\.(mjs|ts|vue)$)

  # Quick TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check-full
        stages: [push]
        name: TypeScript Type Check
        entry: pnpm run type-check
        language: system
        pass_filenames: true
        types: [file]
        files: ^src/.*\.(ts|tsx|vue)$

  - repo: local
    hooks:
      - id: register-build
        stages: [post-commit, post-checkout, post-merge]
        name: Record commit hash
        entry: "sh -c 'git rev-parse --short HEAD > .commit_hash.txt; echo Commit hash recorded; head -4 .commit_hash.txt package.json'"
        language: system
        always_run: true
        pass_filenames: false

[#I18] i18n: machine translations for fr
  src/locales/fr.json
Due: none

[#I18] i18n: harmonize fr with en base
  src/locales/fr.json
Due: none

[#I18] i18n: correct ISO code for japanese
  etc/config.example.yaml
  src/locales/ja.json
  tests/unit/ruby/config.test.yaml
Due: none

[#I18] i18n: refinements to tech terms for de_AT
  src/locales/de_AT.json
Due: none

[#I18] i18n: refinements to some tech terms for fr, fr_FR
  etc/config.example.yaml
  src/locales/fr_CA.json
  src/locales/fr_FR.json
  tests/unit/ruby/config.test.yaml
Due: none

[#I18] i18n: harmonize fr_FR from fr_CA
  src/locales/fr_FR.json
Due: none

[#I18] i18n: add base locale config
  src/locales/scripts/harmonize-locale-file
Due: none

[#I18] i18n: replace remaining en phrases
  src/locales/fr_CA.json
Due: none

[#I18] i18n: replace remaining en phrases
  src/locales/fr_FR.json
Due: none

[#I18] i18n: update fallback rules for fr
  src/i18n.ts
Due: local-eslint-fast, typescript-check-full

[#I18] i18n: improves tagline and phrase for fr
  src/locales/en.json
  src/locales/fr_CA.json
  src/locales/fr_FR.json
Due: none

[#I18] i18n: improves tagline and phrase for de_AT
  src/locales/de_AT.json
Due: none

[#I18] Fix alignment when "feedback" btn goes long
  src/components/FeedbackToggle.vue
  src/components/layout/QuietFooter.vue
Due: local-eslint-fast, typescript-check-full

[#I18] i18n: fix tagline and logo keys
  src/components/layout/MastHead.vue
Due: local-eslint-fast, typescript-check-full

[#1097] Add testcases for Welcome mail view
  tests/unit/ruby/rspec/onetime/app/mail/base_spec.rb
  tests/unit/ruby/rspec/onetime/app/mail/welcome_spec.rb
  tests/unit/ruby/rspec/spec_helper.rb
  tests/unit/ruby/rspec/support/mail_context.rb
Due: none

[#1097] Fix for missing locale
  lib/onetime/app/mail/base.rb
Due: none

[#1097] Move base class testcases to shared examples
  tests/unit/ruby/rspec/onetime/app/mail/base_spec.rb
  tests/unit/ruby/rspec/support/mail_context.rb
Due: none

[#1097] Include shared examples with Welcome tests
  tests/unit/ruby/rspec/onetime/app/mail/welcome_spec.rb
Due: none

[#1097] Add testcases for SecretLink mail view
  tests/unit/ruby/rspec/onetime/app/mail/secret_link_spec.rb
  tests/unit/ruby/rspec/onetime/app/mail/welcome_spec.rb
  tests/unit/ruby/rspec/support/mail_context.rb
Due: none

[#1097] Add validation to SecretLink mail rendering
  lib/onetime/app/mail/base.rb
  lib/onetime/app/mail/views.rb
Due: none

[#1097] Fail fast if our templates have moved
  tests/unit/ruby/rspec/onetime/app/mail/secret_link_spec.rb
  tests/unit/ruby/rspec/onetime/app/mail/welcome_spec.rb
  tests/unit/ruby/rspec/spec_helper.rb
  tests/unit/ruby/rspec/support/mail_context.rb
Due: none

[#1097] Improve SecretLink mail view tests
  tests/unit/ruby/rspec/onetime/app/mail/secret_link_spec.rb
  tests/unit/ruby/rspec/support/mail_context.rb
Due: none

[#1097] Clean up redundancy
  tests/unit/ruby/rspec/onetime/app/mail/secret_link_spec.rb
  tests/unit/ruby/rspec/onetime/app/mail/welcome_spec.rb
  tests/unit/ruby/rspec/support/mail_context.rb
Due: none

[#1097] BREAK: move locales config
  etc/config.example.yaml
  lib/onetime.rb
  tests/unit/ruby/config.test.yaml
Due: none

[#1097] Set locale, theme by query param
  src/composables/useTheme.ts
  src/router/guards.routes.ts
  src/router/queryParams.handler.ts
Due: local-eslint-fast, typescript-check-full

[#1097] Use OT.locales consistently
  lib/onetime/app/api/v1/base.rb
  lib/onetime/app/app_helpers.rb
  lib/onetime/app/web/views/base.rb
Due: none

[#1097] Add Onetime.enabled_locales for clarity
  lib/onetime.rb
  lib/onetime/app/api/v1/base.rb
  lib/onetime/app/app_helpers.rb
  lib/onetime/app/web/views/base.rb
Due: none

[#1097] .
  lib/onetime/app/api/v2/endpoints.rb
  lib/onetime/logic/account/update_locale.rb
Due: none

[#1097] i18n: moving config parsing to config.rb
  etc/config.example.yaml
  lib/onetime.rb
  lib/onetime/app/api/v1/base.rb
  lib/onetime/app/api/v2/endpoints.rb
  lib/onetime/app/app_helpers.rb
  lib/onetime/app/web/views/base.rb
  lib/onetime/config.rb
  lib/onetime/logic/account/update_locale.rb
Due: none

[#1097] i18n: tidy up config implementation
  lib/onetime/app/api/v1/base.rb
  lib/onetime/app/api/v2/endpoints.rb
  lib/onetime/app/app_helpers.rb
  lib/onetime/app/web/views/base.rb
  lib/onetime/config.rb
Due: none

[#1097] i18n: tidy up test config
  src/i18n.ts
  tests/unit/ruby/config.test.yaml
  tests/unit/ruby/rspec/support/mail_context.rb
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: fix base view passing locale
  lib/onetime/app/web/views/base.rb
Due: none

[#1097] Safe request header parsing with fetch
  lib/onetime/app/web/views/base.rb
Due: none

[#1097] i18n: pass new i18n settings to front end
  src/i18n.ts
  src/types/declarations/window.d.ts
  tests/unit/ruby/rspec/onetime/app/web/views/base_spec.rb
  tests/unit/ruby/rspec/support/rack_context.rb
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: simply route query param parsing
  lib/onetime/logic/account/update_locale.rb
  src/router/queryParams.handler.ts
Due: local-eslint-fast, typescript-check-full

fixed spelling
  src/locales/da.json
  src/locales/de.json
  src/locales/en.json
  src/locales/fr_CA.json
  src/locales/nl.json
  tests/integration/web/auth-signin-account.spec.ts
  tests/integration/web/auth-signup.spec.ts
Due: local-eslint-fast

[#1097] Tidy up domain table UI (minor)
  src/components/DomainVerificationInfo.vue
  src/components/DomainsTable.vue
  src/components/dashboard/DomainsTableDomainCell.vue
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: fix up brand dashboard key
  src/components/dashboard/BrowserPreviewFrame.vue
  src/locales/de_AT.json
  src/locales/en.json
  src/locales/fr_CA.json
  src/locales/fr_FR.json
  src/views/dashboard/DashboardDomainBrand.vue
Due: local-eslint-fast, typescript-check-full

[#1097] Standardize tooltips on brand settings bar
  src/components/common/ColorPicker.vue
  src/components/common/CycleButton.vue
  src/components/common/HoverTooltip.vue
  src/components/dashboard/BrandSettingsBar.vue
  src/components/dashboard/InstructionsModal.vue
Due: local-eslint-fast, typescript-check-full

[#1097] EOF lines
  src/locales/da.json
  src/locales/de.json
  src/locales/en.json
  src/locales/fr_CA.json
  src/locales/nl.json
Due: none
