Repository onetimesecret/onetimesecret: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint-fast, typescript-check-full

local-eslint-fast:
  stages:
  - pre-commit
  name: Quick ESLint
  entry: node_modules/.bin/eslint --quiet --flag unstable_ts_config
  language: system
  pass_filenames: true

typescript-check-full:
  stages:
  - push
  name: TypeScript Type Check
  entry: pnpm run type-check
  language: system
  pass_filenames: true

[#1097] i18n: add language selector to brand manager
  src/components/common/LanguageButton.vue
  src/components/common/LanguageSelector.vue
  src/components/dashboard/BrandSettingsBar.vue
  src/views/dashboard/DashboardDomainBrand.vue
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: better implementation for local composers
  src/components/common/LanguageSelector.vue
  src/components/dashboard/BrandSettingsBar.vue
  src/components/dashboard/SecretPreview.vue
  src/composables/useBranding.ts
  src/i18n.ts
  src/locales/ja.json
  src/schemas/models/domain/brand.ts
  src/views/dashboard/DashboardDomainBrand.vue
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: secret preview shows local locale
  lib/onetime/logic/domains/update_domain_brand.rb
  src/components/common/LanguageSelector.vue
  src/components/dashboard/BrandSettingsBar.vue
  src/components/dashboard/InstructionsModal.vue
  src/components/dashboard/SecretPreview.vue
  src/components/secrets/branded/BaseSecretDisplay.vue
  src/composables/useBranding.ts
  src/views/dashboard/DashboardDomainBrand.vue
Due: local-eslint-fast, typescript-check-full

[#1097] Add useDomain composable
  src/composables/useBranding.ts
  src/composables/useDomain.ts
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: improve active brand locale
  src/components/common/LanguageSelector.vue
Due: local-eslint-fast, typescript-check-full

[#1097] Improve browser address bar for long domains
  src/components/dashboard/BrowserPreviewFrame.vue
Due: local-eslint-fast, typescript-check-full

[#1097] Replace static text with domain status
  src/components/dashboard/DomainHeader.vue
  src/components/icons/MdiSprites.vue
  src/stores/domainsStore.ts
  src/views/dashboard/DashboardDomainBrand.vue
Due: local-eslint-fast, typescript-check-full

[#1097] Tidy up
  src/components/DomainVerificationInfo.vue
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: add translatable status display text
  src/composables/useDomainStatus.ts
  src/locales/en.json
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: correctly bind translated aria-labels
  src/components/FeedbackModalForm.vue
  src/components/FeedbackToggle.vue
  src/components/GithubCorner.vue
  src/components/ctas/CustomDomainsCTA.vue
  src/components/dashboard/BrowserPreviewFrame.vue
  src/components/dashboard/DashboardTabNav.vue
  src/components/dashboard/DomainHeader.vue
  src/components/layout/BrandedMastHead.vue
  src/components/layout/FooterLinkLists.vue
  src/components/layout/MastHead.vue
  src/components/modals/FeedbackModal.vue
  src/components/modals/SettingsModal.vue
  src/components/secrets/branded/SecretConfirmationForm.vue
  src/components/secrets/canonical/SecretDisplayCase.vue
  src/views/NotFound.vue
  src/views/dashboard/DashboardDomainBrand.vue
  src/views/pricing/PricingSolo.vue
  src/views/secrets/UnknownMetadata.vue
  src/views/secrets/canonical/UnknownSecret.vue
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: add separate keys for hide/view secret msgs
  src/components/dashboard/SecretPreview.vue
  src/locales/de_AT.json
  src/locales/en.json
  src/locales/fr_CA.json
  src/locales/fr_FR.json
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: backend pass along domain locale as default.
  lib/onetime/app/web/views/base.rb
  src/locales/de_AT.json
Due: none

[#1097] i18n: add locale support to API requests
  src/utils/api.ts
Due: local-eslint-fast, typescript-check-full

[#1097] Tidy up
  src/schemas/i18n/index.ts
  src/schemas/index.ts
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: fix backend locale jsvars
  lib/onetime/app/web/views/base.rb
Due: none

[#1097] i18n: load all locales at run time.
  src/i18n.ts
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: fix for long add-domain button text
  src/components/DomainsTable.vue
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: initialize global i18n with displayLocale
  src/i18n.ts
  src/stores/languageStore.ts
  src/views/Translations.vue
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: use global composer for recipient pages
  src/components/secrets/branded/SecretConfirmationForm.vue
  src/composables/useBranding.ts
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: add i18n support for secret preview display
  src/components/secrets/branded/SecretDisplayCase.vue
Due: local-eslint-fast, typescript-check-full

[#1097] Hide preview link when unsaved changes
  src/components/dashboard/BrandSettingsBar.vue
  src/components/dashboard/DomainHeader.vue
  src/components/dashboard/LanguageSelector.vue
  src/views/dashboard/DashboardDomainBrand.vue
Due: local-eslint-fast, typescript-check-full

[#1097] Fixes for corner style on branded homepage
  src/components/layout/BrandedMastHead.vue
  src/components/secrets/form/ConcealButton.vue
  src/components/secrets/form/SecretContentInputArea.vue
  src/components/secrets/form/SecretForm.vue
  src/components/secrets/form/SecretFormDrawer.vue
  src/components/secrets/form/SecretFormPrivacyOptions.vue
  src/views/BrandedHomepage.vue
Due: local-eslint-fast, typescript-check-full

[#1097] Show recipients higher on the page
  src/views/secrets/ShowMetadata.vue
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: fix i18n usage in BaseSecretDisplay
  src/components/secrets/branded/BaseSecretDisplay.vue
Due: local-eslint-fast, typescript-check-full

[#1097] i18n: update test expects for dynamic current locale
  tests/unit/ruby/rspec/onetime/app/web/views/base_spec.rb
Due: none

[#1112] Remove exception reporting
  src/components/FeedbackForm.vue
  src/components/FeedbackModalForm.vue
  src/composables/useExceptionReporting.ts
Due: local-eslint-fast, typescript-check-full

[#1112] bundler wants to move rspec details
  Gemfile.lock
Due: none

Fix incorrect session variable name
  lib/onetime/logic/secrets/reveal_secret.rb
Due: none

[FIX] Change default commit prefix to [FIX]
  .pre-commit-config.yaml
Due: none

[FIX] Promote API setup from utils/ to api/
  src/api/index.ts
  src/api/secrets.ts
Due: local-eslint-fast, typescript-check-full

[FIX] Configure TypeScript parser for test files
  eslint.config.ts
Due: local-eslint-fast

[FIX] Update references to API setup
  eslint.config.ts
  lib/onetime/models/session.rb
  src/locales/en.json
  src/plugins/core/appInitializer.ts
  tests/unit/vue/router/dashboard.routes.spec.ts
  tests/unit/vue/setup.ts
  tests/unit/vue/stores/authStore.spec.ts
  tests/unit/vue/stores/csrfStore.spec.ts
  tests/unit/vue/stores/languageStore.spec.ts
  tsconfig.test.json
Due: local-eslint-fast, typescript-check-full

[FIX] Update example config
  .env.example
  etc/config.example.yaml
Due: none

[FIX] Remove depracated defaultApi
  src/api/index.ts
Due: local-eslint-fast, typescript-check-full

[FIX] Explicitly approve pnpm install builds
  package.json
Due: none

[FIX] Remove extended characters
  etc/config.example.yaml
Due: none

[FIX] Adds i18n_enabled
  src/types/declarations/window.d.ts
Due: local-eslint-fast, typescript-check-full

[FIX] Clean up env example
  .env.example
  lib/onetime/config.rb
Due: none

[FIX] Add i18n_enabled jsvar
  lib/onetime/app/web/views/base.rb
Due: none

[#I18] Harmonize locale files
  src/locales/ar.json
  src/locales/bg.json
  src/locales/ca_ES.json
  src/locales/cs.json
  src/locales/da.json
  src/locales/da_DK.json
  src/locales/de.json
  src/locales/de_AT.json
  src/locales/el_GR.json
  src/locales/es.json
  src/locales/fr_CA.json
  src/locales/fr_FR.json
  src/locales/he.json
  src/locales/hu.json
  src/locales/it_IT.json
  src/locales/ja.json
  src/locales/nl.json
  src/locales/pl.json
  src/locales/pt_BR.json
  src/locales/pt_PT.json
  src/locales/ru.json
  src/locales/sl_SI.json
  src/locales/sv_SE.json
  src/locales/tr.json
  src/locales/uk.json
  src/locales/vi.json
  src/locales/zh.json
  transation-styleguide-en.pdf
Due: none

Path conditions:
  local-eslint-fast: any of: (^src/.*\.(mjs|ts|vue)$|^.*\.(mjs|ts|vue)$), but not: ^(vendor|node_modules|dist|build)/
  typescript-check-full: any of: ^src/.*\.(ts|tsx|vue)$, but not: ^(vendor|node_modules|dist|build)/
