Repository onetimesecret/onetimesecret: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint-fast, typescript-check-full

.pre-commit-config.yaml:

##
# Pre-Commit Configuration
#
# Initial setup:
#
#   0. Install the pre-commit framework (if it isn't already on your system):
#
#         $ pip install pre-commit
#
#   1. Install the git hook:
#
#         $ pre-commit install
#
#
# Other commands:
#
#   Run it on all the files in this repo:
#     $ pre-commit run --all-files
#
#   Updating plugin repositories:
#     $ pre-commit autoupdate
#
#   Automatically enable pre-commit on repositories
#     $ git config --global init.templateDir ~/.git-template
#     $ pre-commit init-templatedir ~/.git-template
#
# See also:
#   - https://pre-commit.com for more information
#   - https://pre-commit.com/hooks.html for more hooks
#

default_install_hook_types:
  - pre-commit
  - prepare-commit-msg
  - post-commit
  - post-checkout
  - post-merge

default_stages: [pre-commit]

fail_fast: true

# Skip generated/dependency directories
exclude: '^(vendor|node_modules|dist|build)/'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Fast, essential checks only
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files
        args: ["--maxkb=2500"]
      - id: no-commit-to-branch
        args: ["--branch", "develop", "--branch", "rel/.*"]

  # Originally based on Rubocop's own pre-commit configuration
  # https://github.com/rubocop/rubocop/blob/d5d8828/.pre-commit-hooks.yaml
  # NOTE: Don't enable '--autocorrect' until codebase is clean
  # Use Rubocop local hooks for better performance
  # Fast local Rubocop checks (basic syntax)
  - repo: local
    hooks:
      - id: local-rubocop-fast
        stages: [pre-commit]
        name: Quick Rubocop
        entry: bundle exec rubocop --force-exclusion --config .rubocop.yml --format json --fail-level error --only Syntax,Layout --no-server
        language: system
        types: [ruby]
        files: \.(rb|rake)$
        pass_filenames: true

  - repo: https://github.com/avilaton/add-msg-issue-prefix-hook
    rev: v0.0.11
    hooks:
      - id: add-msg-issue-prefix
        stages: [prepare-commit-msg]
        args:
          - "--default=[UNTRACKED]"
          - "--pattern=[a-zA-Z0-9]{0,10}-?[0-9]{1,5}"
          - "--template=[#{}]"

  # Quick local ESLint checks (syntax only)
  - repo: local
    hooks:
      - id: local-eslint-fast
        stages: [pre-commit]
        name: Quick ESLint
        entry: node_modules/.bin/eslint --quiet --flag unstable_ts_config
        language: system
        pass_filenames: true
        files: (^src/.*\.(mjs|ts|vue)$|^.*\.(mjs|ts|vue)$)

  # Quick TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check-full
        stages: [push]
        name: TypeScript Type Check
        entry: pnpm run type-check
        language: system
        pass_filenames: true
        types: [file]
        files: ^src/.*\.(ts|tsx|vue)$

  - repo: local
    hooks:
      - id: register-build
        stages: [post-commit, post-checkout, post-merge]
        name: Record commit hash
        entry: "sh -c 'git rev-parse --short HEAD > .commit_hash.txt; echo Commit hash recorded; head -4 .commit_hash.txt package.json'"
        language: system
        always_run: true
        pass_filenames: false

[#1006] Polish feedback modal UI
  src/components/FeedbackModalForm.vue
  src/components/modals/FeedbackModal.vue
Due: local-eslint-fast, typescript-check-full

[UNTRACKED] Add alternate pricing page layouts
  src/views/pricing/Pricing.vue
  src/views/pricing/PricingDuo.vue
  src/views/pricing/PricingSolo.vue
  src/views/pricing/PricingTrio.vue
Due: local-eslint-fast, typescript-check-full

[UNTRACKED] Update solo plan pricing page content
  src/router/product.routes.ts
  src/sources/productTiers.ts
  src/views/pricing/PricingSolo.vue
Due: local-eslint-fast, typescript-check-full

[UNTRACKED] Update prettier settings
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: none

[UNTRACKED] Remove language servers as project deps
  package.json
  pnpm-lock.yaml
Due: none

[UNTRACKED] Type fixes
  .github/workflows/vue.yml
  src/views/pricing/PricingTrio.vue
Due: local-eslint-fast, typescript-check-full

[#20250122] Give vite_assets its own home
  lib/onetime/app/web/views/view_helpers.rb
  lib/onetime/app/web/views/vite_helpers.rb
Due: none

[#20250122] Reduce ViteHelpers
  lib/onetime/app/web/views/base.rb
  lib/onetime/app/web/views/vite_helpers.rb
Due: none

[#20250122] Add alternative Vite asset bundling config
  lib/onetime/app/web/views/vite_helpers.rb
  vite.config.alt.ts
Due: local-eslint-fast

[#20250122] Switch to consolidate assets in Vite config
  lib/onetime/app/web/views/vite_helpers.rb
  vite.config.alt.ts
  vite.config.ts
Due: local-eslint-fast

[#20250122] Remove Ruby 2.7
  .github/workflows/ruby.yml
Due: none

[#20250122] Promote Ruby 3.4 to stable status y 3.4 to stable status
  .github/workflows/ruby.yml
Due: none

[#20250122] Remove Ruby 3.0
  .github/workflows/ruby.yml
Due: none

[#20250122] Use simplified Ruby workflow matrix
  .github/workflows/ruby.yml
Due: none

[#20250122] Run specs
  .github/workflows/ruby.yml
Due: none

[#20250122] Add pull request target for forked PRs
  .github/workflows/ruby.yml
Due: none

[#20250122] Add 15 min timeout to avoid (rob) zombie jobs
  .github/workflows/ruby.yml
Due: none

[#20250122] Fix spec expectation
  tests/unit/ruby/rspec/onetime/logic/secrets/base_secret_action_spec.rb
Due: none

[#20250122] Remove chunking and pull request target for now
  .github/workflows/ruby.yml
Due: none

[#20250122] Fix rspec command
  .github/workflows/ruby.yml
Due: none

[UNTRACKED] [UNTRACKED] Pin syslog gem to 0.2.0
  Gemfile
  Gemfile.lock
Due: none

[#20250122] Make sure report dir exists
  .github/workflows/ruby.yml
Due: none

[#SETTINGS-4] Add ruby plugin for prettier
  package.json
  pnpm-lock.yaml
Due: none

[#SETTINGS-4] Updates prettier config (for ruby)
  .prettierignore
  .prettierrc
  package.json
Due: none

[#1015] Configure Altcha web worker and CSP
  lib/onetime/app/app_helpers.rb
  src/components/AltchaChallenge.vue
  src/workers/altcha-worker.ts
Due: local-eslint-fast, typescript-check-full

[#1015] Upgrade altcha to 1.1.0
  package.json
  pnpm-lock.yaml
Due: none

[#1015] Optimize build output
  vite.config.ts
Due: local-eslint-fast

[#1015] Misc errata from previous stashes
  Dockerfile
  bin/entrypoint.sh
  lib/onetime/app/web/account.rb
  src/components/auth/AuthView.vue
  support/smtp_test
Due: local-eslint-fast, typescript-check-full

[#1015] Remove less
  Dockerfile
Due: none

[#879] Fix for signup/signin icon size
  src/components/auth/AuthView.vue
  src/components/icons/OIcon.vue
Due: local-eslint-fast, typescript-check-full

[#879] Factor out domains table actions dropdown
  src/components/DomainsTable.vue
  src/components/dashboard/DomainsTableRowActionDropdown.vue
Due: local-eslint-fast, typescript-check-full

[#879] Implement toggle component
  src/components/common/ToggleWithIcon.vue
  src/stores/brandStore.ts
Due: local-eslint-fast, typescript-check-full

[#879] Remove redundant function
  src/utils/parse/date.ts
Due: local-eslint-fast, typescript-check-full

[#879] Polish domain, brand, vhost schema(s)
  src/schemas/models/domain/brand.ts
  src/schemas/models/domain/index.ts
  src/schemas/models/domain/vhost.ts
  src/schemas/transforms.ts
  src/utils/parse/index.ts
Due: local-eslint-fast, typescript-check-full

[#879] Implement toggle functionality
  src/components/DomainsTable.vue
  src/components/common/ToggleWithIcon.vue
  src/components/dashboard/DomainsTableRowActionDropdown.vue
Due: local-eslint-fast, typescript-check-full

[#879] Return a 500 status for unexpected errors
  lib/onetime/app/api/v2/base.rb
Due: none

[#879] Fix odd behaviour and Vue inject warning
  src/composables/useBranding.ts
Due: local-eslint-fast, typescript-check-full

[#879] Add external link icons to load homepage
  src/components/DomainsTable.vue
  src/components/dashboard/DomainHeader.vue
  src/views/dashboard/DashboardDomainBrand.vue
Due: local-eslint-fast, typescript-check-full

[#879] Type fixes
  src/components/DomainVerificationInfo.vue
  src/router/dashboard.routes.ts
  src/stores/identityStore.ts
Due: local-eslint-fast, typescript-check-full

[#1018] Disable require-trusted-types
  lib/onetime/app/app_helpers.rb
Due: none
