Repository onetimesecret/onetimesecret: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-eslint-fast, typescript-check-full

.pre-commit-config.yaml:

##
# Pre-Commit Configuration
#
# Initial setup:
#
#   0. Install the pre-commit framework (if it isn't already on your system):
#
#         $ pip install pre-commit
#
#   1. Install the git hook:
#
#         $ pre-commit install
#
#
# Other commands:
#
#   Run it on all the files in this repo:
#     $ pre-commit run --all-files
#
#   Updating plugin repositories:
#     $ pre-commit autoupdate
#
#   Automatically enable pre-commit on repositories
#     $ git config --global init.templateDir ~/.git-template
#     $ pre-commit init-templatedir ~/.git-template
#
# See also:
#   - https://pre-commit.com for more information
#   - https://pre-commit.com/hooks.html for more hooks
#

default_install_hook_types:
  - pre-commit
  - prepare-commit-msg
  - post-commit
  - post-checkout
  - post-merge

default_stages: [pre-commit]

fail_fast: true

# Skip generated/dependency directories
exclude: '^(vendor|node_modules|dist|build)/'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Fast, essential checks only
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files
        args: ["--maxkb=2500"]
      - id: no-commit-to-branch
        args: ["--branch", "develop", "--branch", "rel/.*"]

  # Originally based on Rubocop's own pre-commit configuration
  # https://github.com/rubocop/rubocop/blob/d5d8828/.pre-commit-hooks.yaml
  # NOTE: Don't enable '--autocorrect' until codebase is clean
  # Use Rubocop local hooks for better performance
  # Fast local Rubocop checks (basic syntax)
  - repo: local
    hooks:
      - id: local-rubocop-fast
        stages: [pre-commit]
        name: Quick Rubocop
        entry: bundle exec rubocop --force-exclusion --config .rubocop.yml --format json --fail-level error --only Syntax,Layout --no-server
        language: system
        types: [ruby]
        files: \.(rb|rake)$
        pass_filenames: true

  - repo: https://github.com/avilaton/add-msg-issue-prefix-hook
    rev: v0.0.11
    hooks:
      - id: add-msg-issue-prefix
        stages: [prepare-commit-msg]
        args:
          - "--default=[UNTRACKED]"
          - "--pattern=[a-zA-Z0-9]{0,10}-?[0-9]{1,5}"
          - "--template=[#{}]"

  # Quick local ESLint checks (syntax only)
  - repo: local
    hooks:
      - id: local-eslint-fast
        stages: [pre-commit]
        name: Quick ESLint
        entry: node_modules/.bin/eslint --quiet --flag unstable_ts_config
        language: system
        pass_filenames: true
        files: (^src/.*\.(mjs|ts|vue)$|^.*\.(mjs|ts|vue)$)

  # Quick TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check-full
        stages: [push]
        name: TypeScript Type Check
        entry: pnpm run type-check
        language: system
        pass_filenames: true
        types: [file]
        files: ^src/.*\.(ts|tsx|vue)$

  - repo: local
    hooks:
      - id: register-build
        stages: [post-commit, post-checkout, post-merge]
        name: Record commit hash
        entry: "sh -c 'git rev-parse --short HEAD > .commit_hash.txt; echo Commit hash recorded; head -4 .commit_hash.txt package.json'"
        language: system
        always_run: true
        pass_filenames: false

[#1155] Clean up shared mail context and email views
  tests/unit/ruby/rspec/onetime/app/mail/views/secret_link_spec.rb
  tests/unit/ruby/rspec/onetime/app/mail/views/welcome_spec.rb
  tests/unit/ruby/rspec/support/mail_context.rb
Due: none

[#1155] Bump version to 0.20.4
  package.json
Due: none

[#1155] Improve email handling with reply-to field and formatting fixes
  lib/onetime.rb
  lib/onetime/app/mail/base.rb
  lib/onetime/app/mail/smtp_mailer.rb
Due: none

Hardens email handling and configuration
  lib/onetime.rb
  lib/onetime/app/mail/base.rb
  lib/onetime/app/mail/base_mailer.rb
  lib/onetime/app/mail/sendgrid_mailer.rb
  lib/onetime/app/mail/ses_mailer.rb
  lib/onetime/app/mail/smtp_mailer.rb
  lib/onetime/app/mail/views.rb
  lib/onetime/logic/authentication.rb
  lib/onetime/logic/feedback.rb
  lib/onetime/models/metadata.rb
  support/sendgrid_test.rb
  support/ses_test.rb
  tests/unit/ruby/rspec/onetime/app/mail/smtp_mailer_spec.rb
  tests/unit/ruby/rspec/onetime/app/mail/views/secret_link_spec.rb
Due: none

Update default email address in comment
  etc/config.example.yaml
Due: none

Simplifies from_email_address format in mailer spec
  tests/unit/ruby/rspec/onetime/app/mail/ses_mailer_spec.rb
Due: none

[#1158] Reorganizes config structure and standardizes env vars
  etc/config.example.yaml
Due: none

[#1158] Correct spelling of dianotics.
  src/plugins/core/appInitializer.ts
  src/plugins/core/enableDiagnostics.ts
  src/plugins/core/globalErrorBoundary.ts
  src/plugins/core/index.ts
Due: local-eslint-fast, typescript-check-full

[#1158] .
  src/composables/useAsyncHandler.ts
Due: local-eslint-fast, typescript-check-full

[#1158] Fix for null sentry instance when d9s disabled
  src/composables/useAsyncHandler.ts
Due: local-eslint-fast, typescript-check-full

[#1158] Abide by plans_enabled
  src/views/Homepage.vue
Due: local-eslint-fast, typescript-check-full

[#1158] Update :colonel config references after moving
  lib/onetime.rb
  lib/onetime/config.rb
  lib/onetime/logic/account/create_account.rb
  lib/onetime/logic/authentication.rb
  lib/onetime/logic/feedback.rb
  tests/unit/ruby/config.test.yaml
Due: none

[#1164] Remove vistigial references to setupAsyncHandler
  tests/unit/vue/stores/languageStore.spec.ts
  tests/unit/vue/stores/metadataListStore.spec.ts
  tests/unit/vue/stores/metadataStore.spec.ts
  tests/unit/vue/stores/metadataStoreDateHandling.spec.ts
Due: local-eslint-fast

[#1164] Fix up window state management in tests
  tests/unit/vue/fixtures/window.fixture.ts
  tests/unit/vue/setup-env.ts
  tests/unit/vue/setupWindow.ts
  vitest.config.ts
Due: local-eslint-fast

[#1164] Optimize Sentry initialization logic
  lib/onetime/config.rb
Due: none

[#1164] Increase `create_account` limit in tests
  tests/unit/ruby/config.test.yaml
Due: none

[#1164] Add missing mocked session methods
  tests/unit/ruby/try/42_web_template_vuepoint_try.rb
  tests/unit/ruby/try/60_logic/23_logic_secrets_reveal_secret_try.rb
Due: none

[#1164] Fix null inject warning when d9s disabled
  src/composables/useAsyncHandler.ts
Due: local-eslint-fast, typescript-check-full

[#1164] API enforces configured TTL boundaries
  lib/onetime/logic/secrets/base_secret_action.rb
  tests/unit/ruby/rspec/onetime/logic/secrets/base_secret_action_spec.rb
Due: none

[#1164] Respect configured default TTL in secret form
  src/composables/usePrivacyOptions.ts
  src/composables/useSecretForm.ts
Due: local-eslint-fast, typescript-check-full

[#1164] Update d9s_enabled testcase following config logic change
  tests/unit/ruby/rspec/onetime/app/web/views/base_spec.rb
Due: none

[#1158] Reorganize .env.example for consistency
  .env.example
Due: none

[#1158] Add specific TTL options for test config
  tests/unit/ruby/config.test.yaml
Due: none

[#1158] Add interface settings to config
  etc/config.example.yaml
  tests/unit/ruby/config.test.yaml
Due: none

[#1158] Add rack-test gem
  Gemfile
  Gemfile.lock
Due: none

[#1158] Normalize REGIONS_ENABLED
  .env.example
  .gitignore
  etc/config.example.yaml
  lib/onetime.rb
  lib/onetime/config.rb
  tests/unit/ruby/config.test.yaml
  tests/unit/ruby/rspec/onetime/config_spec.rb
Due: none

[#1158] Fix colonels list access and add UI interface settings
  lib/onetime/app/web/views/base.rb
  lib/onetime/logic/authentication.rb
Due: none

[#1158] Remove duplicate var check
  src/components/layout/MastHead.vue
Due: local-eslint-fast, typescript-check-full

[#1158] Clarify doc
  src/App.vue
Due: local-eslint-fast, typescript-check-full

[#1158] Improve inline doc for colonels setting
  etc/config.example.yaml
Due: none

[#1158] Add backwards compatibility for colonels config
  lib/onetime/config.rb
  tests/unit/ruby/rspec/onetime/config_spec.rb
Due: none

[#1158] Improve startup banner log output
  lib/onetime.rb
Due: none

[#1158] Improve log verbosity in domain handling middleware
  lib/middleware/detect_host.rb
  lib/onetime/middleware/domain_strategy.rb
Due: none

[#1158] Add Apx-Incoming-Host to header precedence list in detect_host
  lib/middleware/detect_host.rb
Due: none

[#1158] Move authenticity config under email section
  etc/config.example.yaml
Due: none

[#1158] Update schema with config structure refactoring
  etc/config.schema.yaml
Due: none

[#1158] Reconcile config schema with codebase
  etc/config.example.yaml
  etc/config.schema.yaml
Due: none

[#1158] Relocate incoming config under features namespace
  etc/config.example.yaml
  etc/config.schema.yaml
Due: none

[#1158] Fix colonels config handling and typo corrections
  Gemfile.lock
  etc/config.example.yaml
  lib/onetime/config.rb
  lib/onetime/logic/account/create_account.rb
Due: none

[#1158] Polish authentication config and colonel handling
  etc/config.schema.yaml
  lib/onetime/config.rb
  lib/onetime/logic/authentication.rb
  lib/onetime/logic/feedback.rb
  tests/unit/ruby/config.test.yaml
Due: none
